<app-barra-navegacion></app-barra-navegacion>

<ion-content class="withoutBackground">
  <div id="recorridoContent">
    <ion-text *ngIf="recorridos.length > 0">Mostrando recorridos realizados</ion-text>
    <ion-text *ngIf="recorridos.length === 0">No hay recorridos para presentar</ion-text>
    <div id="recorridoCardsContainer">
      <ion-card  *ngFor='let recorrido of recorridos' class="white-card" id="recorridoCard">
        <div id="info-recorrido">
          <div id="info-text">
            <ion-text class="black-text bold-text uppercase-text">{{getNombreCampana(recorrido.id_campana)}}</ion-text>
            <ion-text class="black-text">Kms Recorridos:<br>{{redondearFloat(recorrido.kilometraje_recorrido, 2)}} KM</ion-text>
            <ion-text class="black-text">Recaudación:<br>$ {{redondearFloat(recorrido.dinero_recaudado, 2)}}</ion-text>
            <ion-text class="black-text">Fecha:<br>{{recorrido.fecha_hora_inicio}}</ion-text>
          </div>
          <div id="info-button">
            <ion-button (click)="mostrarMapaRecorrido(recorrido)" class="capitalize" id="verDetalleRecorrido">Ver detalle</ion-button>
          </div>
        </div>
        <div id="img-recorridoContainer">
          <img
            id="img-recorrido"
            [src]="getURL(recorrido)"
          />
        </div>
      </ion-card>
    </div>
  </div>
</ion-content>
