<app-back-buttons></app-back-buttons>

<app-ads></app-ads>

<ion-content class="withoutBackground">
  <div id="preguntasContent">
    <ion-card class="white-card">
      <ion-card-content class="preguntasContent">
        <ion-accordion-group>

          <ion-accordion value="1">
            <ion-item slot="header" color="light">
              <ion-label class="pregunta">¿Cómo puedo crear una cuenta en la aplicación?</ion-label>
            </ion-item>
            <div class="ion-padding accordion-element" slot="content">
              <ion-item class="respuesta">
                <ion-text class="black-text">
                  Puedes crear una cuenta haciendo clic en el botón de registro e ingresando tus datos personales.
                </ion-text>
              </ion-item>
            </div>
          </ion-accordion>
        
          <ion-accordion value="2">
            <ion-item slot="header" color="light">
              <ion-label class="pregunta">¿Cómo cambio mi contraseña?</ion-label>
            </ion-item>
            <div class="ion-padding accordion-element" slot="content">
              <ion-item class="respuesta">
                <ion-text class="black-text">
                  Dirígete a la sección de configuración de tu cuenta y selecciona la opción para cambiar la contraseña.
                </ion-text>
              </ion-item>
            </div>
          </ion-accordion>
        
          <ion-accordion value="3">
            <ion-item slot="header" color="light">
              <ion-label class="pregunta">¿Cómo puedo monetizar mi recorrido con el vehículo?</ion-label>
            </ion-item>
            <div class="ion-padding accordion-element" slot="content">
              <ion-item class="respuesta">
                <ion-text class="black-text">
                  Para monetizar tu recorrido, debes activar la opción correspondiente en la configuración y vincular tu cuenta bancaria.
                </ion-text>
              </ion-item>
            </div>
          </ion-accordion>
        
          <ion-accordion value="4">
            <ion-item slot="header" color="light">
              <ion-label class="pregunta">¿Cómo puedo cambiar la ubicación de destino en la aplicación?</ion-label>
            </ion-item>
            <div class="ion-padding accordion-element" slot="content">
              <ion-item class="respuesta">
                <ion-text class="black-text">
                  Puedes cambiar la ubicación de destino en la sección de planificación de viajes, donde puedes ingresar una nueva dirección.
                </ion-text>
              </ion-item>
            </div>
          </ion-accordion>
        
          <ion-accordion value="5">
            <ion-item slot="header" color="light">
              <ion-label class="pregunta">¿Cómo puedo generar una solicitud de servicio de emergencia?</ion-label>
            </ion-item>
            <div class="ion-padding accordion-element" slot="content">
              <ion-item class="respuesta">
                <ion-text class="black-text">
                  Para generar una solicitud de servicio de emergencia, selecciona la opción correspondiente en el menú principal y sigue las instrucciones para enviar la solicitud.
                </ion-text>
              </ion-item>
            </div>
          </ion-accordion>
        
          <ion-accordion value="6">
            <ion-item slot="header" color="light">
              <ion-label class="pregunta">¿Cómo puedo ver el historial de mis viajes realizados?</ion-label>
            </ion-item>
            <div class="ion-padding accordion-element" slot="content">
              <ion-item class="respuesta">
                <ion-text class="black-text">
                  Puedes ver el historial de tus viajes en la sección correspondiente de la aplicación, donde se registran todos los viajes anteriores con detalles como la fecha, la duración y la tarifa.
                </ion-text>
              </ion-item>
            </div>
          </ion-accordion>
        
          <ion-accordion value="7">
            <ion-item slot="header" color="light">
              <ion-label class="pregunta">¿Cómo puedo cambiar la configuración de notificaciones de la aplicación?</ion-label>
            </ion-item>
            <div class="ion-padding accordion-element" slot="content">
              <ion-item class="respuesta">
                <ion-text class="black-text">
                  Puedes ajustar la configuración de notificaciones y preferencias de la aplicación en la sección de configuración de tu cuenta.
                </ion-text>
              </ion-item>
            </div>
          </ion-accordion>
        
          <ion-accordion value="8">
            <ion-item slot="header" color="light">
              <ion-label class="pregunta">¿Cómo puedo contactar al soporte técnico en caso de problemas?</ion-label>
            </ion-item>
            <div class="ion-padding accordion-element" slot="content">
              <ion-item class="respuesta">
                <ion-text class="black-text">
                  Puedes contactar al equipo de soporte técnico a través del centro de ayuda en la aplicación, donde encontrarás opciones para enviar un mensaje o llamar al soporte.
                </ion-text>
              </ion-item>
            </div>
          </ion-accordion>
        
          <ion-accordion value="9">
            <ion-item slot="header" color="light">
              <ion-label class="pregunta">¿Cómo puedo ver mi saldo actual en la aplicación?</ion-label>
            </ion-item>
            <div class="ion-padding accordion-element" slot="content">
              <ion-item class="respuesta">
                <ion-text class="black-text">
                  Puedes ver tu saldo actual en la sección de finanzas o en el resumen de cuenta de la aplicación.
                </ion-text>
              </ion-item>
            </div>
          </ion-accordion>
        
          <ion-accordion value="10">
            <ion-item slot="header" color="light">
              <ion-label class="pregunta">¿Cómo puedo verificar mi identidad en la aplicación?</ion-label>
            </ion-item>
            <div class="ion-padding accordion-element" slot="content">
              <ion-item class="respuesta">
                <ion-text class="black-text">
                  Para verificar tu identidad, sigue las instrucciones proporcionadas en la sección de verificación de identidad de la aplicación y proporciona los documentos requeridos.
                </ion-text>
              </ion-item>
            </div>
          </ion-accordion>
        
          <!-- Continuar con las preguntas y respuestas restantes -->
        
        </ion-accordion-group>
        
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
