<app-barra-navegacion></app-barra-navegacion>

<ion-content class="withoutBackground">
  <div class="marginContent">
    <ion-text id="nohaySolicitud" *ngIf="solicitudes.length===0" color="white">No hay solicitudes para presentar </ion-text>
    <div *ngIf="solicitudesActivas.length>0" class="content-divider">
      <ion-title class="solicitudesTitle" id="solicitudesActivas"
        >Activas</ion-title
      >
      <ion-card (click)="irCampanaActiva(solicitud)" *ngFor="let solicitud of solicitudesActivas"  class="solicitudesCard">
        <div class="fecha">
          <ion-text class="fechaString">{{solicitud.fecha_registro}}</ion-text
            >
        </div>
        <div class="informacion">
          <ion-img
            id="logo-empresa"
            class=""
            src="../../../assets/images/migo-logo-edited.jpeg"
            alt="logo-empresa"
          ></ion-img>
          <div class="infoTexto">
            <ion-text class="bold-text uppercase-text">{{getCampana(solicitud.id_campana)}}</ion-text>
            <ion-text>La solicitud ha sido confirmada por el conductor</ion-text>
            <ion-text>Estado: Pendiente de brandeo</ion-text>
          </div>
        </div>
      </ion-card>
    </div>

    <div *ngIf="solicitudesPendientes.length>0" class="content-divider">
      <ion-title class="solicitudesTitle" id="solicitudesPendientes"
        >Pendientes</ion-title
      >
      <ion-card *ngFor="let solicitud of solicitudesPendientes" class="solicitudesCard">
        <div class="fecha">
          <ion-text class="fechaString">{{solicitud.fecha_envio}}</ion-text
          >
        </div>
        <div class="informacion">
          <ion-img
            id="logo-empresa"
            class=""
            src="../../../assets/images/migo-logo-edited.jpeg"
            alt="logo-empresa"
          ></ion-img>
          <div class="infoTexto">
            <ion-text class="bold-text uppercase-text">{{getCampana(solicitud.id_campana)}}</ion-text>
            <ion-text>El formulario ha sido recibido por la empresa</ion-text>
            <ion-text>Estado: Pendiente de revisión</ion-text>
          </div>
        </div>
      </ion-card>
    </div>

    <div *ngIf="solicitudesAceptadas.length>0" class="content-divider">
      <ion-title class="solicitudesTitle" id="solicitudesAceptadas"
        >Aceptadas</ion-title
      >
      <ion-card (click)="aceptarSolicitud(solicitud)" id="solicitudAceptar" *ngFor="let solicitud of solicitudesAceptadas" class="solicitudesCard">
        <div class="fecha">
          <ion-text class="fechaString">{{solicitud.fecha_envio}}</ion-text
            >
        </div>
        <div class="informacion">
          <ion-img
            id="logo-empresa"
            class=""
            src="../../../assets/images/migo-logo-edited.jpeg"
            alt="logo-empresa"
          ></ion-img>
          <div class="infoTexto">
            <ion-text class="bold-text uppercase-text">{{getCampana(solicitud.id_campana)}}</ion-text>
            <ion-text>El formulario ha sido aceptado por la empresa</ion-text>
            <ion-text>Estado: Aceptada por la empresa</ion-text>
          </div>
        </div>
      </ion-card>
    </div>

    <div *ngIf="solicitudesRechazadas.length>0"  class="content-divider">
      <ion-title class="solicitudesTitle" id="solicitudesRechazadas"
        >Rechazadas</ion-title
      >
      <ion-card *ngFor="let solicitud of solicitudesRechazadas"  class="solicitudesCard">
        <div class="fecha">
          <ion-text class="fechaString">{{solicitud.fecha_envio}}</ion-text
            >
        </div>
        <div class="informacion">
          <ion-img
            id="logo-empresa"
            class=""
            src="../../../assets/images/migo-logo-edited.jpeg"
            alt="logo-empresa"
          ></ion-img>
          <div class="infoTexto">
            <ion-text class="bold-text uppercase-text">{{getCampana(solicitud.id_campana)}}</ion-text>
            <ion-text>El formulario ha sido rechazada por la empresa</ion-text>
            <ion-text>Estado: Rechazada por la empresa</ion-text>
          </div>
        </div>
      </ion-card>
    </div>
  </div>

  <ion-modal
    trigger="solicitudAceptar"
    class="solicitudConfirmar"
  >
    <ng-template>
      <ion-content class="ion-padding">
        Usted va a confirmar su plaza en la campaña ....
        <div class="buttonContainer">
          <ion-button>Aceptar</ion-button>
          <ion-button>Cancelar</ion-button>
        </div>
        <ion-button></ion-button>
      </ion-content>
    </ng-template>
  </ion-modal>

</ion-content>
