<app-barra-navegacion></app-barra-navegacion>

<ion-content class="withoutBackground">
  <div class="marginContent">
    <div class="content-divider">
      <ion-title class="solicitudesTitle" id="solicitudesActivas"
        >Activas</ion-title
      >
      <ion-card class="solicitudesCard">
        <div class="fecha">
          <ion-text class="fechaString">01/03/2024</ion-text
          ><ion-text class="fechaString">01/03/2024</ion-text>
        </div>
        <div class="informacion">
          <ion-img
            id="logo-empresa"
            class=""
            src="../../../assets/images/migo_logo.png"
            alt="logo-empresa"
          ></ion-img>
          <div class="infoTexto">
            <ion-text>Nombre de la Campaña</ion-text>
            <ion-text>El formulario ha sido recibido por la empresa</ion-text>
            <ion-text>Estado: Aceptada por el conductor</ion-text>
          </div>
        </div>
      </ion-card>
    </div>

    <div class="content-divider">
      <ion-title class="solicitudesTitle" id="solicitudesPendientes"
        >Pendientes</ion-title
      >
      <ion-card class="solicitudesCard">
        <div class="fecha">
          <ion-text class="fechaString">01/03/2024</ion-text
          ><ion-text class="fechaString">01/03/2024</ion-text>
        </div>
        <div class="informacion">
          <ion-img
            id="logo-empresa"
            class=""
            src="../../../assets/images/migo_logo.png"
            alt="logo-empresa"
          ></ion-img>
          <div class="infoTexto">
            <ion-text>Nombre de la Campaña</ion-text>
            <ion-text>El formulario ha sido recibido por la empresa</ion-text>
            <ion-text>Estado: Pendiente de revisión</ion-text>
          </div>
        </div>
      </ion-card>
    </div>

    <div class="content-divider">
      <ion-title class="solicitudesTitle" id="solicitudesAceptadas"
        >Aceptadas</ion-title
      >
      <ion-card class="solicitudesCard">
        <div class="fecha">
          <ion-text class="fechaString">01/03/2024</ion-text
          ><ion-text class="fechaString">01/03/2024</ion-text>
        </div>
        <div class="informacion">
          <ion-img
            id="logo-empresa"
            class=""
            src="../../../assets/images/migo_logo.png"
            alt="logo-empresa"
          ></ion-img>
          <div class="infoTexto">
            <ion-text>Nombre de la Campaña</ion-text>
            <ion-text>El formulario ha sido recibido por la empresa</ion-text>
            <ion-text>Estado: Aceptada por el conductor</ion-text>
          </div>
        </div>
      </ion-card>
    </div>

    <div class="content-divider">
      <ion-title class="solicitudesTitle" id="solicitudesRechazadas"
        >Rechazadas</ion-title
      >
      <ion-card class="solicitudesCard">
        <div class="fecha">
          <ion-text class="fechaString">01/03/2024</ion-text
          ><ion-text class="fechaString">01/03/2024</ion-text>
        </div>
        <div class="informacion">
          <ion-img
            id="logo-empresa"
            class=""
            src="../../../assets/images/migo_logo.png"
            alt="logo-empresa"
          ></ion-img>
          <div class="infoTexto">
            <ion-text>Nombre de la Campaña</ion-text>
            <ion-text>El formulario ha sido recibido por la empresa</ion-text>
            <ion-text>Estado: Aceptada por el conductor</ion-text>
          </div>
        </div>
      </ion-card>
    </div>
  </div>
</ion-content>
