ion-toolbar{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
  }
  
  ion-text.filtrar-por{
    color: black;
    margin-right: auto;
    margin-left: 20px;
    font-size: 16px;
  }
  ion-button#filtro{
    display: flex;
    --border-radius: 50px;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
  }
  .end-of-line{
    margin-left: auto;
    margin-right: 15px;
  }

  ion-buttons#menuButtons{
    margin-left: 0;
    width: 40px;
    height: 40px;
  }

  ion-buttons#notifButtons{
    margin-right: 0;
  }

  ion-title#toolbarTitle{
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
  }

//select
ion-item.select-option{
    background-color: white;
    color: black;
    font-size: 18px;
  }
  ion-icon.end-of-line{
    align-self:flex-end;
    color: black;
  }
  ion-content::part(scroll){
    border-radius: 20px;
    margin-top: 5px;
  }
  .item-icon{
    width: 25px;
    height: 25px;
  }

/** Filter Options Root Select **/
ion-content.filter-options::part(scroll){
    padding: 0;
    background-color: white;
  }
  
  ion-list.list-options{
    padding: 0;
    background-color: white; 
  }
  
  ion-item.select-option::part(native){
    background-color: white;
  }

/** Shadow Root Select **/

ion-button::part(native){
    padding: 0;
  }
  
  ion-icon.menu{
    height: 40px;
    width: 40px;
    padding: 0;
  }
  
  #container {
    text-align: center;
  
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  #container strong {
    font-size: 20px;
    line-height: 26px;
  }
  
  #container p {
    font-size: 16px;
    line-height: 22px;
  
    color: #8c8c8c;
  
    margin: 0;
  }
  
  #container a {
    text-decoration: none;
  }
  
  .menu{
    --min-width: 100%;
  }
  
  ion-button.notificaciones{
    --min-width: 100%;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }