@import url('../../../../theme/variables.scss');

ion-icon#warning {
    height: 70px;
    width: 70px;
    color: red;
  }
  
  .texts {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }
  
  .texts:first-child {
    color: black;
    font-size: x-large;
  }
  
  .texts:last-child {
    color: red;
  }
  
  .buttons {
    display: flex;
    flex-direction: row;
  }

  #boton-cancelar {
    --box-shadow: none;
    --background: transparent;
  }
  
  #boton-eliminar {
    --background: red;
    --color: white;
  }
  
  .eliminarCuentaPage{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-content: center;
    align-items: center;
    gap: 15px;
    padding: 20px;
    height: 100%;
  }

  .redConfirmation{
    background: rgb(204, 37, 37);
    font-size: 20px
  }

  #spinnerDeleteCuenta{
    min-width: 120px;
    min-height: 120px;
  }

  .displayTimerCuenta{
    width: 100%;
    height: 120px;
    font-size: 90px;
  }

  .changingBoxDeleteCuenta{
    height: 130px;
    width: 130px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  #eliminarCuentaDef{
    --background: white;
    --color: red;
  }

  .eliminandoDatos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }