@import "../../../theme/variables.scss";
ion-title{
    padding: 0;
}

ion-item.showEmail{
    border-bottom: 1px solid white;
    margin-top: 7%;
    margin-bottom: 7%;
    --color: white;
}

img.migo-logo{
    padding-bottom: 12%;
}

ion-label.title{
    padding-left: 10px;
}

ion-input{
    width: 100%;
}

form{
    margin-bottom: 2%;
}

.input-item{
    margin-bottom: 1%;
    align-items: center;
    --color: white;
}

div.buttons-container{
    display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15%;
}

ion-button.eye{
    color: white;
}

//modal
ion-modal{
    --width: 50%
    --height: 50%;
    --border-radius: 16px;
    --background: transparent;
    --backdrop-opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    align-content: center;
  }

  .wrapper{
    // width: 400px;sud
    // height: 400px;
    background-color: white;
    color: black;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    align-content: center;
  }

  .checkIcon{
    height: 40px;
    width: 40px;
    color: black;
  }