ion-title{
    padding: 0;
}

ion-item.showEmail{
    border-bottom: 1px solid white;
    margin-top: 7%;
    margin-bottom: 7%;
}

img.migo-logo{
    padding-bottom: 12%;
}

ion-label.title{
    padding-left: 10px;
}

ion-input{
    width: 100%;
}

form{
    margin-bottom: 2%;
}

.input-item{
    margin-bottom: 1%;
    align-items: center;
}

div.buttons-container{
    display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15%;
}

ion-button.eye{
    color: white;
}