<ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button
      default-href="/home"
      text=""
      icon="chevron-back"
    ></ion-back-button>
  </ion-buttons>
  <ion-title class="uppercase-text">TÉRMINOS Y CONDICIONES</ion-title>
</ion-toolbar>

<app-ads></app-ads>

<ion-content class="withoutBackground">
  <div id="privacidadContent">
    <ion-card class="white-card">
      <ion-card-content>
        <ion-text class="black-text">
          
        </ion-text>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>