<app-back-buttons></app-back-buttons>

<app-ads></app-ads>

<ion-content class="withoutBackground">
  <ion-item-divider color="primary">
    <ion-title>Información del conductor</ion-title>
  </ion-item-divider>

  <form enctype="multipart/form-data">
    <div class="conductor-form aggVehiculoForm">
      <div class="av-inputContainer">
        <ion-label class="av-inputLabel">Nombre</ion-label>
        <ion-input
          class="addVehiculoInput rounded-input"
          [(ngModel)]="formFields.Nombre"
          name="Nombre"
          placeholder="Ingrese el nombre"
          required
          maxlength="30"
          pattern="^[a-zA-Z]+$"
          enterkeyhint="next"
        ></ion-input>
      </div>

      <div class="av-inputContainer">
        <ion-label class="av-inputLabel">Apellido</ion-label>
        <ion-input
          class="addVehiculoInput rounded-input"
          [(ngModel)]="formFields.Apellido"
          name="Apellido"
          placeholder="Ingrese el apellido"
          required
          maxlength="30"
          pattern="^[a-zA-Z]+$"
          enterkeyhint="next"
        ></ion-input>
      </div>

      <div class="av-inputContainer">
        <ion-label class="av-inputLabel">Cédula</ion-label>
        <ion-input
          class="addVehiculoInput rounded-input"
          [(ngModel)]="formFields.Cedula"
          name="Cedula"
          placeholder="Ingrese la cédula"
          required
          maxlength="10"
          pattern="^[0-9]+$"
          enterkeyhint="next"
        ></ion-input>
      </div>

      <div class="av-inputContainer">
        <ion-label class="av-inputLabel">Fecha de Nacimiento</ion-label>
        <ion-input
          type="date"
          class="addVehiculoInput rounded-input"
          [(ngModel)]="formFields.FechaNacimiento"
          name="FechaNacimiento"
          placeholder="Fecha de Nacimiento"
          required
          maxlength="30"
          enterkeyhint="next"
        ></ion-input>
      </div>

      <div class="av-inputContainer">
        <ion-label class="av-inputLabel">Sexo</ion-label>
        <ion-select
          part="select-sexo-vehiculo"
          class="never-flip rounded-input av-select"
          toggleIcon="caret-down-sharp"
          interface="popover"
          [(ngModel)]="formFields.Sexo"
          name="Sexo"
          placeholder="Seleccionar Sexo"
          required
        >
          <ion-select-option value="1">Masculino</ion-select-option>
          <ion-select-option value="2">Femenino</ion-select-option>
          <ion-select-option value="3">Prefiero No Decir</ion-select-option>
        </ion-select>
      </div>
    </div>

  <ion-item-divider color="primary">
      <ion-title>Información del vehículo</ion-title>
  </ion-item-divider>

    <div class="vehiculo-form aggVehiculoForm">
      <div class="av-inputContainer">
        <ion-label class="av-inputLabel">Placa</ion-label>
        <ion-input
          class="addVehiculoInput rounded-input"
          [(ngModel)]="formFields.Placa"
          name="Placa"
          placeholder="Ingrese la placa. Ejemplo: GXY1234"
          required
          maxlength="7"
          pattern="^[A-Z]{3}-[0-9]{4}$"
          enterkeyhint="next"
        ></ion-input>
      </div>

      <div class="av-inputContainer">
        <ion-label class="av-inputLabel">Año</ion-label>
        <ion-input
          class="rounded-input addVehiculoInput"
          [(ngModel)]="formFields.anio"
          name="anio"
          placeholder="Ingrese el año"
          inputmode="numeric"
          maxlength="4"
          required
        ></ion-input>
      </div>

      <div class="av-inputContainer">
        <div class="marca">
          <ion-label class="av-inputLabel">Marca</ion-label>
          <ion-button id="click-marca-info" class="marca-info"><ion-icon id="marca-help-icon" name="help-circle-outline"></ion-icon></ion-button>
        </div>
        <ion-select
          (ionChange)="marcaChange($event)"
          part="select-marca-vehiculo"
          class="never-flip rounded-input av-select"
          toggleIcon="caret-down-sharp"
          interface="popover"
          [(ngModel)]="formFields.Marca"
          name="Marca"
          placeholder="Seleccionar marca"
          required
        >
          <ion-select-option
            *ngFor="let marca of valoresMarcas"
            value="{{ marca.id_marca }}"
            >{{ marca.nombre }}</ion-select-option
          >
        </ion-select>
      </div>

      <div class="av-inputContainer">
        <div class="marca">
          <ion-label class="av-inputLabel">Modelo</ion-label>
          <ion-button id="click-modelo-info" class="marca-info"><ion-icon id="marca-help-icon" name="help-circle-outline"></ion-icon></ion-button>
        </div>
        <ion-select
          part="select-modelo-vehiculo"
          class="never-flip rounded-input av-select"
          toggleIcon="caret-down-sharp"
          interface="popover"
          [(ngModel)]="formFields.Modelo"
          name="Modelo"
          placeholder="Seleccionar modelo"
          required
        >
          <ion-select-option
            *ngFor="let modelo of modelosFiltrados"
            value="{{ modelo.id_modelo }}"
            >{{ modelo.nombre }}</ion-select-option
          >
        </ion-select>
      </div>

      <div class="av-inputContainer">
        <div class="marca">
          <ion-label class="av-inputLabel">Categoría</ion-label>
          <ion-button id="click-categoria-info" class="marca-info"><ion-icon id="marca-help-icon" name="help-circle-outline"></ion-icon></ion-button>
        </div>
        <ion-select
          part="select-categoria-vehiculo"
          class="never-flip rounded-input av-select"
          toggleIcon="caret-down-sharp"
          interface="popover"
          [(ngModel)]="formFields.Categoria"
          name="Categoria"
          placeholder="Seleccionar categoría"
          required
        >
          <ion-select-option
            *ngFor="let categoria of categorias"
            value="{{categoria[0]}}"
            >{{categoria[1]}}</ion-select-option
          >
        </ion-select>
      </div>

      <div class="av-inputContainer">
        <ion-label class="av-inputLabel">Color</ion-label>
        <ion-select
          part="select-color-vehiculo"
          class="never-flip rounded-input av-select"
          toggleIcon="caret-down-sharp"
          interface="popover"
          [interfaceOptions]="{cssClass:'aggV-popover'}"
          [(ngModel)]="formFields.Color"
          name="Color"
          placeholder="Seleccionar color"
          required
        >
          <ion-select-option
            class="aggV-selectColor"
            *ngFor="let color of colores"
            value="{{color}}"
            >{{color}}</ion-select-option
          >
        </ion-select>
      </div>
    </div>

    <ion-item-divider color="primary">
      <ion-title>Fotos del vehículo</ion-title>
    </ion-item-divider>

    <div class="fotos-form"> 
      <div class="foto-laterales">
        <div class="button-container">
          <ion-label *ngIf="!fotoIzquierdaTomada">Lateral Izquierdo</ion-label>

          <ion-img
          class="fotoVehiculoPreview"
            *ngIf="fotoIzquierdaTomada"
            (click)="abrirModal()"
            [src]="srcIzquierda"
          ></ion-img>

          <ion-button
            *ngIf="!fotoIzquierdaTomada"
            expand="full"
            class="add_button"
            (click)="takePhoto('Izquierda')"
          >
            Tomar foto
          </ion-button>
          <ion-button
            *ngIf="fotoIzquierdaTomada"
            expand="full"
            class="add_button"
            (click)="takePhoto('Izquierda')"
          >
            Cambiar foto
          </ion-button>
        </div>

        <div class="button-container">
          <ion-label *ngIf="!fotoDerechaTomada">Lateral Derecho</ion-label>
          <ion-img
           class="fotoVehiculoPreview"
            *ngIf="fotoDerechaTomada"
            (click)="abrirModal()"
            [src]="srcDerecha"
          ></ion-img>
          <ion-button
            *ngIf="!fotoDerechaTomada"
            expand="full"
            class="add_button"
            (click)="takePhoto('Derecha')"
          >
            Tomar foto
          </ion-button>
          <ion-button
            *ngIf="fotoDerechaTomada"
            expand="full"
            class="add_button"
            (click)="takePhoto('Derecha')"
          >
            Cambiar foto
          </ion-button>
        </div>
      </div>

      <div class="foto-laterales">
        <div class="button-container">
          <ion-label *ngIf="!fotoTraseraTomada">Foto Trasera</ion-label>
          <ion-img
          class="fotoVehiculoPreview"
            (click)="abrirModal()"
            *ngIf="fotoTraseraTomada"
            [src]="srcTrasera"
          ></ion-img>
          <ion-button
            *ngIf="!fotoTraseraTomada"
            expand="full"
            class="add_button"
            (click)="takePhoto('Trasera')"
          >
            Tomar foto
          </ion-button>
          <ion-button
            *ngIf="fotoTraseraTomada"
            expand="full"
            class="add_button"
            (click)="takePhoto('Trasera')"
          >
            Cambiar foto
          </ion-button>
        </div>

        <div class="button-container">
          <ion-label *ngIf="!fotoAereaTomada">Foto Aérea</ion-label>
          <ion-img
          class="fotoVehiculoPreview"
            (click)="abrirModal()"
            *ngIf="fotoAereaTomada"
            [src]="srcAerea"
          ></ion-img>
          <ion-button
            *ngIf="!fotoAereaTomada"
            expand="full"
            class="add_button"
            (click)="takePhoto('Aerea')"
          >
            Tomar foto
          </ion-button>
          <ion-button
            *ngIf="fotoAereaTomada"
            expand="full"
            class="add_button"
            (click)="takePhoto('Aerea')"
          >
            Cambiar foto
          </ion-button>
        </div>
      </div>

      <div class="foto-laterales">
        <div class="button-container">
          <ion-label *ngIf="!fotoFrontalTomada">Foto Frontal</ion-label>
          <ion-img
          class="fotoVehiculoPreview"
            (click)="abrirModal()"
            *ngIf="fotoFrontalTomada"
            [src]="srcFrontal"
          ></ion-img>
          <ion-button
            *ngIf="!fotoFrontalTomada"
            expand="full"
            class="add_button"
            (click)="takePhoto('Frontal')"
          >
            Tomar foto
          </ion-button>
          <ion-button
            *ngIf="fotoFrontalTomada"
            expand="full"
            class="add_button"
            (click)="takePhoto('Frontal')"
          >
            Cambiar foto
          </ion-button>
        </div>
      </div>
    </div>

    <div *ngIf="showValidationError" class="validation-error datosincorrectos">
      {{ showValidationError }}
    </div>
    <ion-text *ngIf="esMayorEdad">Debe ser mayor a 18 años</ion-text>
    <div class="submit-button-container">
      <ion-button id="aggVehiculoButton" expand="default" (click)="submitForm()"
        >Agregar Vehículo</ion-button
      >
    </div>
  </form>


  <ion-modal
    *ngIf="missingFields.length === 0"
    trigger="aggVehiculoButton"
    class="aggVehiculoModal"
    [initialBreakpoint]="0.5"
    [breakpoints]="[0.5, 0.75]"
  >
  <ng-template>
    <ion-content>
      <div class="loadingContent">
        <ion-text>Enviando Solicitud...</ion-text>
        <ion-spinner class="loadingSpinner" name="dots" color="primary"></ion-spinner>
      </div>
    </ion-content>
  </ng-template>
  </ion-modal>

  <ion-popover trigger="click-marca-info" triggerAction="click">
    <ng-template>
      <ion-content class="ion-padding click-marca-infoContent">
        <ion-text class="black-text">
          Si no existe la <b>marca</b> correspondiente a su vehículo, enviénos un mensaje en "Reclamos y Soporte".
        </ion-text>
      </ion-content>
    </ng-template>
  </ion-popover>

  <ion-popover trigger="click-modelo-info" triggerAction="click">
    <ng-template>
      <ion-content class="ion-padding click-marca-infoContent">
        <ion-text class="black-text">
          Si no existe el <b>modelo</b> correspondiente a su vehículo, enviénos un mensaje en "Reclamos y Soporte".
        </ion-text>
      </ion-content>
    </ng-template>
  </ion-popover>

  <ion-popover alignment="center" trigger="click-categoria-info" triggerAction="click" class="cat-vehiculo-info-popOver">
    <ng-template>
      <ion-content class="ion-padding click-marca-infoContent">
        <div class="contenido-carroceria">
          <div class="labels">
            <ion-text class="bold-text black-text uppercase-text">
              Bus
            </ion-text>
            <ion-img class="icono-categoria" src="../../../assets/autos/bus.png" alt="bus"></ion-img>
            <ion-text class="black-text">
              Para identificar si un automóvil es un bus, considera las siguientes características: <br>
              <b>Número de puertas:</b> Los autobuses suelen tener múltiples puertas a lo largo del lado del vehículo para permitir que los pasajeros suban y bajen de manera eficiente.<br>
              <b>Uso comercial:</b> Los autobuses generalmente se utilizan para transporte público, turismo, transporte escolar o transporte de grupos, en contraste con los automóviles que son utilizados principalmente para transporte personal.<br>
            </ion-text>
          </div>
          <div class="labels">
            <ion-text class="bold-text black-text uppercase-text">
              Camión
            </ion-text>
            <ion-img class="icono-categoria" src="../../../assets/autos/camion.png" alt="camion"></ion-img>
            <ion-text class="black-text">
              Para identificar si un automóvil es un camión, considera las siguientes características: <br>
              <b>Tamaño y forma:</b> Los camiones son vehículos grandes y robustos diseñados principalmente para transportar cargas. Suelen tener una cabina delantera para el conductor y un espacio de carga en la parte trasera. <br>
              <b>Estructura de carga:</b> Los camiones tienen una caja de carga o plataforma abierta en la parte trasera para transportar mercancías.<br>
            </ion-text>
          </div>
          <div class="labels">
            <ion-text class="bold-text black-text uppercase-text">
              Camioneta
            </ion-text>
            <ion-img class="icono-categoria" src="../../../assets/autos/camioneta.png" alt="camioneta"></ion-img>
            <ion-text class="black-text">
              Para identificar si un automóvil es una camioneta, considera las siguientes características: <br>
              <b>Número de puertas:</b> Las camionetas suelen tener dos puertas en la cabina delantera para el conductor y el pasajero delantero, y dos puertas adicionales en la parte trasera para acceder al área de carga. <br>
              <b>Tamaño y forma:</b> Las camionetas son vehículos más grandes que los automóviles comunes, pero más pequeños que los camiones. <br>
              <b>Espacio de carga:</b>  Las camionetas tienen un espacio de carga abierto en la parte trasera, que puede estar cubierto por un toldo o una cubierta dura. <br>
            </ion-text>
          </div>
          <div class="labels">
            <ion-text class="bold-text black-text uppercase-text">
              Sedán
            </ion-text>
            <ion-img class="icono-categoria" src="../../../assets/autos/sedan.png" alt="sedan"></ion-img>
            <ion-text class="black-text">
              Para identificar si un automóvil es un sedán, considera las siguientes características: <br>
              <b>Número de puertas:</b> Los sedanes típicamente tienen cuatro puertas: dos en el frente para el conductor y el pasajero delantero, y dos en la parte trasera para los pasajeros posteriores. Algunos sedanes más pequeños pueden tener solo dos puertas.<br>
              <b>Maletero separado:</b> Los sedanes tienen un maletero integrado en la parte trasera del automóvil, que está separado de la cabina de pasajeros.<br>
            </ion-text>
          </div>
          <div class="labels">
            <ion-text class="bold-text black-text uppercase-text">
              SUV (vehículo utilitario deportivo)
            </ion-text>
            <ion-img class="icono-categoria" src="../../../assets/autos/suv.png" alt="suv"></ion-img>
            <ion-text class="black-text">
              Para identificar si un automóvil es un SUV, considera las siguientes características: <br>
              <b>Capacidad de pasajeros y carga:</b> os SUV suelen tener capacidad para al menos cinco pasajeros, con asientos traseros que pueden plegarse para proporcionar espacio adicional de carga. Algunos modelos de SUV tienen capacidad para hasta siete u ocho pasajeros, dependiendo de su tamaño y configuración.<br>
              <b>Número de puertas: </b> Los SUV pueden tener dos o cuatro puertas. Los SUV más comunes tienen cuatro puertas, con dos en la parte delantera para el conductor y el pasajero delantero, y dos adicionales en la parte trasera para los pasajeros. Sin embargo, hay SUV de dos puertas disponibles, aunque son menos comunes.<br>
              <b>Tracción en las cuatro ruedas (opcional):</b> Muchos SUV ofrecen tracción en las cuatro ruedas como opción, lo que les permite manejar mejor en condiciones de terreno resbaladizo o fuera de la carretera.<br>
            </ion-text>
          </div>
        </div>
      </ion-content>
    </ng-template>
  </ion-popover>

</ion-content>
