@import '../../../theme/variables.scss';

ion-label{
    width: 100%;
    flex:initial;
}

ion-item{
    display: flex;
    flex-direction: column;
    align-items: start;
}

ion-item::part(native){
    background: transparent;
    display: flex;
    flex-direction: column;
    height: 90px;
    align-items: start;
}

ion-title{
    padding-left: 0;
}

.first-form{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 15px;
    padding-right: 15px;
}

ion-input{
    width: 350px;
}

ion-select:host{
    flex: 0;
}

.foto-laterales{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.button-container{
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-style: dashed;
    margin: 10px;
}

.rounded-input {
    border-radius: 30px;
    background-color: white;
    padding: 8px; /* Ajusta el relleno según sea necesario */
    color: black; /* Cambia el color del texto a negro */
}

.submit-button-container {
    text-align: center; /* Centra el contenido horizontalmente */
}


.validation-error{
    margin-inline: 5%;
    margin-top: 3%;
    margin-bottom: 3%;
}

.submit-button-container{
    margin-top: 3%;
    margin-bottom: 3%;
}

ion-button.add_button {
    --background: transparent;
    --color: var(--ion-color-primary);
    text-decoration: underline;
    font-weight: bold;

}

ion-button.add-button:host(.button-solid){
    --box-shadow:0;
}

ion-select-option{
    --color: black;
}