<ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button *ngIf="whereFrom==''"
      default-href="/vehiculos"
      text=""
      icon="chevron-back"
    ></ion-back-button>
    <ion-back-button *ngIf="whereFrom=='/formulario-aplicacion'"
      default-href="/formulario-aplicacion"
      text=""
      icon="chevron-back"
    ></ion-back-button>
  </ion-buttons>
  <ion-title>NUEVO VEHÍCULO</ion-title>
</ion-toolbar>

<app-ads></app-ads>

<ion-content class="withoutBackground">
  <ion-item-divider color="primary">
    <ion-title>Información del conductor</ion-title>
  </ion-item-divider>

  <form enctype="multipart/form-data">
    <div class="conductor-form">
      <ion-item [class.invalid-border]="isInvalidField('Nombre')">
        <ion-label>Nombre</ion-label>
        <ion-input
          class="addVehiculoInput"
          [(ngModel)]="formFields.Nombre"
          name="Nombre"
          placeholder="Ingrese el nombre"
          class="rounded-input"
          required
          maxlength="30"
          pattern="^[a-zA-Z]+$"
          enterkeyhint="next"
        ></ion-input>
      </ion-item>

      <ion-item [class.invalid-border]="isInvalidField('Apellido')">
        <ion-label>Apellido</ion-label>
        <ion-input
          class="addVehiculoInput"
          [(ngModel)]="formFields.Apellido"
          name="Apellido"
          placeholder="Ingrese el apellido"
          class="rounded-input"
          required
          maxlength="30"
          pattern="^[a-zA-Z]+$"
          enterkeyhint="next"
        ></ion-input>
      </ion-item>

      <ion-item [class.invalid-border]="isInvalidField('Cedula')">
        <ion-label>Cédula</ion-label>
        <ion-input
          class="addVehiculoInput"
          [(ngModel)]="formFields.Cedula"
          name="Cedula"
          ß
          placeholder="Ingrese la cédula"
          class="rounded-input"
          required
          maxlength="10"
          pattern="^[0-9]+$"
          enterkeyhint="next"
        ></ion-input>
      </ion-item>

      <ion-item [class.invalid-border]="isInvalidField('FechaNacimiento')">
        <ion-label>Fecha de Nacimiento</ion-label>
        <ion-input
          type="date"
          class="addVehiculoInput"
          [(ngModel)]="formFields.FechaNacimiento"
          name="FechaNacimiento"
          placeholder="Fecha de Nacimiento"
          class="rounded-input"
          required
          maxlength="30"
          enterkeyhint="next"
        ></ion-input>
      </ion-item>

      <ion-item [class.invalid-border]="isInvalidField('Sexo')">
        <ion-label>Sexo</ion-label>
        <ion-select
          part="select-sexo-vehiculo"
          class="never-flip"
          toggleIcon="caret-down-sharp"
          interface="popover"
          [(ngModel)]="formFields.Sexo"
          name="Sexo"
          class="rounded-input"
          required
        >
          <ion-select-option value="1">Masculino</ion-select-option>
          <ion-select-option value="2">Femenino</ion-select-option>
          <ion-select-option value="3">Prefiero No Decir</ion-select-option>
        </ion-select>
      </ion-item>
    </div>

    <div class="vehiculo-form">
      <ion-item-divider color="primary">
        <ion-title>Información del vehículo</ion-title>
      </ion-item-divider>

      <ion-item [class.invalid-border]="isInvalidField('Placa')">
        <ion-label>Placa</ion-label>
        <ion-input
          [(ngModel)]="formFields.Placa"
          name="Placa"
          placeholder="Ingrese la placa. Ejemplo: GXY1234"
          class="rounded-input"
          required
          maxlength="7"
          pattern="^[A-Z]{3}-[0-9]{4}$"
          enterkeyhint="next"
        ></ion-input>
      </ion-item>

      <ion-item
        class="item-input"
        [class.invalid-border]="isInvalidField('anio')"
      >
        <ion-label>Año</ion-label>
        <ion-input
          [(ngModel)]="formFields.anio"
          name="anio"
          placeholder="Ingrese el año"
          class="rounded-input"
          inputmode="numeric"
          maxlength="4"
          required
        ></ion-input>
      </ion-item>

      <ion-item [class.invalid-border]="isInvalidField('Marca')">
        <ion-label>Marca</ion-label>
        <ion-select
          part="select-marca-vehiculo"
          class="never-flip"
          toggleIcon="caret-down-sharp"
          interface="popover"
          [(ngModel)]="formFields.Marca"
          name="Marca"
          class="rounded-input"
          required
        >
          <ion-select-option
            *ngFor="let marca of valoresMarcas"
            value="{{ marca.id_marca }}"
            >{{ marca.nombre }}</ion-select-option
          >
        </ion-select>
      </ion-item>

      <ion-item [class.invalid-border]="isInvalidField('Modelo')">
        <ion-label>Modelo</ion-label>
        <ion-select
          part="select-modelo-vehiculo"
          class="never-flip"
          toggleIcon="caret-down-sharp"
          interface="popover"
          [(ngModel)]="formFields.Modelo"
          name="Modelo"
          class="rounded-input"
          required
        >
          <ion-select-option
            *ngFor="let modelo of valoresModelos"
            value="{{ modelo.id_modelo }}"
            >{{ modelo.nombre }}</ion-select-option
          >
          <!-- Agrega más opciones según sea necesario -->
        </ion-select>
      </ion-item>
    </div>

    <div class="fotos-form">
      <ion-item-divider color="primary">
        <ion-title>Fotos del vehículo</ion-title>
      </ion-item-divider>
      <div class="foto-laterales">
        <div class="button-container">
          <ion-label *ngIf="!fotoIzquierdaTomada">Lateral Izquierdo</ion-label>

          <ion-img
            *ngIf="fotoIzquierdaTomada"
            (click)="abrirModal()"
            src="{{srcIzquierda}}"
          ></ion-img>

          <ion-button
            *ngIf="!fotoIzquierdaTomada"
            expand="full"
            class="add_button"
            (click)="takePhoto('Izquierda')"
          >
            Tomar foto
          </ion-button>
          <ion-button
            *ngIf="fotoIzquierdaTomada"
            expand="full"
            class="add_button"
            (click)="takePhoto('Izquierda')"
          >
            Cambiar foto
          </ion-button>
        </div>

        <div class="button-container">
          <ion-label *ngIf="!fotoDerechaTomada">Lateral Derecho</ion-label>
          <ion-img
            *ngIf="fotoDerechaTomada"
            (click)="abrirModal()"
            src="{{srcDerecha}}"
          ></ion-img>
          <ion-button
            *ngIf="!fotoDerechaTomada"
            expand="full"
            class="add_button"
            (click)="takePhoto('Derecha')"
          >
            Tomar foto
          </ion-button>
          <ion-button
            *ngIf="fotoDerechaTomada"
            expand="full"
            class="add_button"
            (click)="takePhoto('Derecha')"
          >
            Cambiar foto
          </ion-button>
        </div>
      </div>

      <div class="foto-laterales">
        <div class="button-container">
          <ion-label *ngIf="!fotoTraseraTomada">Foto Trasera</ion-label>
          <ion-img
            (click)="abrirModal()"
            *ngIf="fotoTraseraTomada"
            src="{{srcTrasera}}"
          ></ion-img>
          <ion-button
            *ngIf="!fotoTraseraTomada"
            expand="full"
            class="add_button"
            (click)="takePhoto('Trasera')"
          >
            Tomar foto
          </ion-button>
          <ion-button
            *ngIf="fotoTraseraTomada"
            expand="full"
            class="add_button"
            (click)="takePhoto('Trasera')"
          >
            Cambiar foto
          </ion-button>
        </div>

        <div class="button-container">
          <ion-label *ngIf="!fotoAereaTomada">Foto Aérea</ion-label>
          <ion-img
            (click)="abrirModal()"
            *ngIf="fotoAereaTomada"
            src="{{srcAerea}}"
          ></ion-img>
          <ion-button
            *ngIf="!fotoAereaTomada"
            expand="full"
            class="add_button"
            (click)="takePhoto('Aerea')"
          >
            Tomar foto
          </ion-button>
          <ion-button
            *ngIf="fotoAereaTomada"
            expand="full"
            class="add_button"
            (click)="takePhoto('Aerea')"
          >
            Cambiar foto
          </ion-button>
        </div>
      </div>

      <div class="foto-laterales">
        <div class="button-container">
          <ion-label *ngIf="!fotoFrontalTomada">Foto Frontal</ion-label>
          <ion-img
            (click)="abrirModal()"
            *ngIf="fotoFrontalTomada"
            src="{{srcFrontal}}"
          ></ion-img>
          <ion-button
            *ngIf="!fotoFrontalTomada"
            expand="full"
            class="add_button"
            (click)="takePhoto('Frontal')"
          >
            Tomar foto
          </ion-button>
          <ion-button
            *ngIf="fotoFrontalTomada"
            expand="full"
            class="add_button"
            (click)="takePhoto('Frontal')"
          >
            Cambiar foto
          </ion-button>
        </div>
      </div>
    </div>

    <div *ngIf="showValidationError" class="validation-error datosincorrectos">
      {{ showValidationError }}
    </div>
    <ion-text *ngIf="esMayorEdad">Debe ser mayor a 18 años</ion-text>
    <div class="submit-button-container">
      <ion-button expand="default" (click)="submitForm()"
        >Agregar Vehículo</ion-button
      >
    </div>
  </form>
</ion-content>
