<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Detalles</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="withoutBackground">
  <ion-img class="foto-grande" [src]="src"></ion-img>

  <div class="previews">
    <ion-img
      class="foto-chiquita"
      [src]="getImageSrc('frontal', vehiculo)"
      [alt]="vehiculo.placa"
      (click)="cambiarImagen('frontal')"
    ></ion-img>
    <ion-img
      class="foto-chiquita"
      (click)="cambiarImagen('izq')"
      src="{{getImageSrc('izq', vehiculo)}}"
      [alt]="vehiculo.placa"
    ></ion-img>
    <ion-img
      class="foto-chiquita"
      (click)="cambiarImagen('der')"
      src="{{getImageSrc('derecha', vehiculo)}}"
      [alt]="vehiculo.placa"
    ></ion-img>
    <ion-img
      class="foto-chiquita"
      (click)="cambiarImagen('techo')"
      src="{{getImageSrc('techo', vehiculo)}}"
      [alt]="vehiculo.placa"
    ></ion-img>
    <ion-img
      class="foto-chiquita"
      (click)="cambiarImagen('trasera')"
      src="{{getImageSrc('trasera', vehiculo)}}"
      [alt]="vehiculo.placa"
    ></ion-img>
  </div>

  <div class="title uppercase-text bold-text">
    <ion-text><br />Información del vehículo<br /></ion-text>
  </div>

  <div class="info-columns">
    <div>
      <ion-text class="bold-text label">Placa</ion-text>
      <ion-text class="info">{{vehiculo.placa}}</ion-text>
    </div>

    <div>
      <ion-text class="bold-text label">Año</ion-text>
      <ion-text class="info">{{vehiculo.anio}}</ion-text>
    </div>

    <div>
      <ion-text class="bold-text label">Categoría</ion-text>
      <ion-text class="info">{{getCategoria(vehiculo.categoria_vehiculo)}}</ion-text>
    </div>

    <div>
      <ion-text class="bold-text label">Marca</ion-text>
      <ion-text class="info">{{marca}}</ion-text>
    </div>

    <div>
      <ion-text class="bold-text label">Modelo</ion-text>
      <ion-text class="info">{{modelo}}</ion-text>
    </div>
  </div>

  <div class="title uppercase-text bold-text">
    <ion-text><br />Información del conductor<br /></ion-text>
  </div>

  <div class="info-columns">
    <div>
      <ion-text class="bold-text label">Nombre(s)</ion-text>
      <ion-text *ngIf="nombre" class="info">{{nombre}}</ion-text>
    </div>
    <div>
      <ion-text class="bold-text label">Apellido(s)</ion-text>
      <ion-text *ngIf="apellido" class="info">{{apellido}}</ion-text>
    </div>
  </div>
</ion-content>
