ion-title{
    padding: 0;
}

ion-item{
    border-bottom: 2px solid white;
}

ion-input{
    width: 100%;
}

ion-label.title{
    padding-left: 10px;
}

img.migo-logo{
    padding-bottom: 12%;
}

ion-input{
    --placeholder-color:white;
}


div.icon-container{
    text-align: center;
    padding-top: 10%;
    padding-bottom: 5%;
}

div.buttons-container{
    display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15%;
}