<app-back-buttons></app-back-buttons>

<ion-content class="withoutBackground">
  <ion-card class="ion-no-border login-form">
    <ion-card-content>
      <img class="migo-logo" alt="migo logo" src="../../assets/images/migo_logo.png" />
      <ion-text class="text">
        Recibiras un mail a la dirección de correo asociado a tu cuenta. <br>
      </ion-text>
      <ion-item class="white-text">
        <ion-icon color="white" name="person-circle-outline"></ion-icon>
        <ion-label  class="title form-label">
          {{email}}
        </ion-label>
      </ion-item>
      <div class="icon-container">
        <img class="msg-icon" alt="msg icon" src="../../assets/iconos-migo/04.png" />
      </div>
      <form class="ion-no-border" >
        <ion-item class="white-text">
          <ion-input maxlength="6" inputmode="numeric" name="codigoInput" [(ngModel)]="codigoInput" placeholder="Ingrese el código recibido"></ion-input>
        </ion-item>
      </form>
      <ion-text class="datosincorrectos" *ngIf="mostrarMensaje" color="danger">
        Su código no es correcto<br>
      </ion-text>
      <div class="buttons-container">
        
        <ion-button class='normal-radius' color="primary" (click)="siguiente()">
          SIGUIENTE
        </ion-button>
      </div>
    </ion-card-content>
      </ion-card>
  
  
</ion-content>