<ion-content class="withoutBackground">
  <div class="anularR-container">
    <ion-icon class="warning-anular" name="warning-outline"></ion-icon>
    <div class="anularR-textContainer">
      <ion-text class="black-text anularR-text">
        Estás a punto de anular tu registro de campaña en:
      </ion-text>
      <ion-text class="black-text bold-text uppercase-text anularR-text">
        {{campana.nombre_campana}}
      </ion-text>
      <ion-text class="black-text anularR-text">
        Serás penalizado de acuerdo a las políticas establecidas por la campaña
      </ion-text>
      <ion-text class="black-text anularR-text">
        ¿Deseas continuar?
      </ion-text>
    </div>

    <div class="anularR-button-container">
      <ion-button (click)="anularRegistro()">Sí, anula mi registro</ion-button>
      <ion-button (click)="cancelar()">Cambié de opinión</ion-button>
    </div>
  </div>
</ion-content>
