<ion-toolbar>
  <ion-title id="toolbarTitle">RECORRIDO</ion-title>
  <ion-buttons id="notifButtons" slot="end">
    <ion-button class="notificaciones">
      <img
        src="../../../assets/iconos-migo/campanita.png"
        style="width: 30px; height: 30px"
    /></ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content>
  <div class="NR-infoCampana">
    <ion-text class="white-text">Recorriendo para: {{campana.nombre_campana}}</ion-text>
    <!-- <ion-text class="white-text" color="warning" *ngIf="mensajeGPS"><br>Active su GPS </ion-text> -->
  </div>

  <div id="newRecorridoMapa">
    <div id="nuevo-recorrido" style="float:left;width:100%;height:100%"></div>
  </div>

  <div class="NR-info-container">
    <div class="NR-divider">
      <ion-text class="black-text">Iniciado en:</ion-text>
      <ion-text class="black-text">{{fechaInicio}}</ion-text>
    </div>
    <div class="NR-divider">
      <div class="text-kms">
        <ion-text class="black-text">Kilómetros recorridos:</ion-text>
        <ion-button id="click-more-info"><ion-icon name="help-circle-outline"></ion-icon></ion-button>
      </div>
      <ion-text class="black-text">{{kms}} KM</ion-text>
    </div>
    <div class="NR-divider">
      <ion-text class="black-text">Recaudación actual</ion-text>
      <ion-text class="black-text">${{redondearFloat(dineroRecaudado, 2)}}</ion-text>
    </div>
    <div class="NR-divider">
      <ion-text class="black-text">Tiempo transcurrido</ion-text>
      <ion-text class="black-text">{{currentTime.h}}:{{currentTime.m}}:{{currentTime.s}}</ion-text>
    </div>
  </div>

  <div class="NR-button-container">
    <ion-button (click)="finalizarRecorrido()"> Finalizar Recorrido</ion-button>
  </div>

  <ion-popover trigger="click-more-info" triggerAction="click">
    <ng-template>
      <ion-content class="ion-padding">
        <ion-text class="black-text">
          Se comenzará el conteo de kilómetros cuando el vehículo acceda a una zona sujeta a monetización.
        </ion-text>
      </ion-content>
    </ng-template>
  </ion-popover>
</ion-content>
