ion-card {
    background-color: #000; /* Fondo negro */
    color: #fff; /* Texto blanco */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  ion-card-content {
    padding: 16px;
  }
  
  h2 {
    font-size: 24px;
  }
  
  h3 {
    font-size: 20px;
  }
  
  p {
    font-size: 16px;
    margin-bottom: 16px;
  }
  
  ion-label {
    font-weight: bold;
  }
  
  ion-input {
    border: none;
    background-color: transparent;
    padding: 0;
    font-size: 16px;
  }
  
  ion-item {
    --inner-padding-start: 0;
  }
  