// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Fonts Personalizadas **/
@font-face {
  font-family: 'Centrale Sans';
  font-style: normal;
  font-weight: bold;
  src: url('../assets/fonts/CentraleSans-Bold.ttf');
}

@font-face {
  font-family: 'Bahnschrift';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/Bahnschrift.ttf');
}

@font-face {
  font-family: 'Source Code';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/SourceCodePro-Regular.ttf');
}

/** Font para titulos **/
ion-title{
  --ion-font-family:"Centrale Sans"
}

/** Font para Subtitulos **/
ion-card-title, ion-label, ion-button{
  --ion-font-family:"Bahnschrift"
}

/** Ionic CSS Variables **/
:root {

  --ion-background-color:  rgba(0, 0, 0, 0.8);
  --ion-text-color: white;
  --ion-toolbar-background:  rgba(0, 0, 0, 0.60);
  --ion-toolbar-color: white;
  --ion-input-text-color: white;
  --ion-side-icon-color: white;
  --ion-side-icon-color2: black;
  
  --ion-contrast-orange: rgb(211, 142, 46);
  
  /** primary **/
  /** --ion-color-primary: rgb(255,255,0); **/
  --ion-color-primary: rgb(18,188,190);
  --ion-color-primary-rgb: 18, 188, 190;
  --ion-color-primary-contrast: black;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #000000;
  --ion-color-primary-tint: #000000;

  /** secondary **/
  --ion-color-secondary: rgb(0,0,0,0.60);
  --ion-color-secondary-rgb: 0, 0, 0;
  --ion-color-secondary-contrast: white;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #000000;
  --ion-color-secondary-tint: #000000;

  /** tertiary **/
  --ion-color-tertiary: rgb(0,0,0,0.30);;
  --ion-color-tertiary-rgb: 0, 0, 0;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #000000;
  --ion-color-tertiary-tint: #000000;

  /** success **/
  --ion-color-success: rgb(18,188,190);
  --ion-color-success-rgb: 255, 255, 0;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #000000;
  --ion-color-success-tint: #000000;

  /** warning **/
  /** --ion-color-warning: #e5aa4c; **/
  --ion-color-warning: rgb(11, 185, 220);
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;
}