div.item-native, div.item-inner{
  min-width: 100%;
  padding-right: 0;
} 

img.migo-logo{
  padding-top: 0;
  height: 120px;
}

div.img-logo{
  text-align: center;
}

div.title{
  border-bottom: 1px solid white;
  margin-bottom: 30px;
  margin-top: 7px;
}

ion-label.title{
  color: white;
  font-size: medium;
}


ion-input.custom, ion-item{
    --background: white;
    --border-radius: 30px;
    --border-color: transparent;
    --color: black;
    --highlight-color-focused: transparent;
    --padding-start: 7%;
    --padding-end: 7%;
    min-height: fit-content;
    height: fit-content;
    font-size: 20px;
  }

  ion-input.password{
    width: 100%;
  }

  div.input-container{
    display: flex;
    height: 25px;
    margin-bottom: 7%;
  }

  input{
    min-height: 25px;
  }

  label#select-label.select-wrapper{
    height: 25px;
  }

  div.input-container > ion-label{
    width: 80%;
    min-height:auto;
    color: white;
    font-size: 17px;
    align-items: center;
  }

  div.input-container > ion-select{
    min-height: auto;
  }

  div.checkbox{
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  ion-checkbox{
    --size: 20px;
    --border-color: #ffffff;
    padding-right: 5%;
  }

ion-text.terms > p{
  padding-left: 5%;
  font-size: smaller;
}

ion-select {
  z-index: 1;
}

ion-button.button{
    width: 50%;
    padding-top: 5%;
    padding-left: 5%;
    padding-right: 5%;
    // padding-top: 10%;
}

ion-item{
  display: flex;
    height: 25px;
    width: 100%;
  background-color: white;
  border-radius: 30px;
}

label{
  height: 25px;
}

ion-button.eye{
  margin: 0;
  padding: 0;
  margin-left: auto;
  width: 35px;
  
}

div.buttons{
  display: flex;
  flex-direction: row;
  align-items: center;
}

ion-select{
  --background: white;
  --border-radius: 30px;
  --placeholder-color: black;
  --placeholder-opacity: 1;
  width: 100%;
  display: flex;
}

ion-select::part(text) {
  color: black;
}

.terms a {
  text-decoration: underline; /* Subrayado */
  font-weight: bold; /* Negrita */
}

.buttons {
  display: flex;
  justify-content: center;
}

.item-inner {
  padding-inline-end: 0;
}

// ion-item .input-wrapper .input-clear-icon {
//   color: white;
// }

// .input-item ion-input, .item-native{
//   height: 17px;
// }

