<ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button
      default-href="#"
      text=""
      icon="chevron-back"
    ></ion-back-button>
  </ion-buttons>
  <ion-title>REGISTRO</ion-title>
</ion-toolbar>

<ion-content>
  <ion-card>
    <ion-card-content>
      <div class="img-logo">
        <img
        class="migo-logo"
        alt="migo logo"
        src="../../assets/images/migo_logo.png"
      />
    </div>
    <div class="title">
      <ion-label  class="title">
        Información personal
      </ion-label>
    </div>
      <form class="ion-no-border">
        <div class="input-container">
          <ion-label class="align-left">C.I.</ion-label>
          <ion-input
          
           maxlength="10"
            type="text"
            shape="round"
            name="cedula"
            [(ngModel)]="cedulaInput"
            required="true"
            class="custom"
            inputmode="numeric"
          ></ion-input>
        </div>
        <div class="input-container">
          <ion-label>Nombres</ion-label>
          <ion-input
            type="text"
            shape="round"
            name="nombres"
            [(ngModel)]="nombresInput"
            required="true"
            class="custom"
            
            maxlength="25"
            inputmode="text"
          ></ion-input>
        </div>
        <div class="input-container">
          <ion-label>Apellidos</ion-label>
          <ion-input
            type="text"
            shape="round"
            name="apellidos"
            [(ngModel)]="apellidosInput"
            required="true"
            class="custom"
            
            maxlength="25"
            inputmode="text"
          ></ion-input>
        </div>
        <div class="input-container">
          <ion-label>Fecha Nacimiento</ion-label>
          <ion-input
            type="date"
            shape="round"
            name="fecha"
            [(ngModel)]="fechaInput"
            required="true"
            class="custom"
            inputmode="text"
          ></ion-input>
        </div>
        <div class="input-container">
          <ion-label>Correo Electrónico</ion-label>
          <ion-input
            type="email"
            shape="round"
            name="correo"
            [(ngModel)]="correoInput"
            required="true"
            class="custom"
            
            maxlength="50"
            inputmode="text"
          ></ion-input>
        </div>
        
        <div class="input-container">
          <ion-label class="contrasena" >Contraseña</ion-label>
          <ion-item class="custom">
            <ion-input
            name="password"
            [type]="inputType"
            [(ngModel)]="inputValue"
            shape="round"
            required="true"
            class="custom password"
            inputmode="text"
            maxlength="10"
          ></ion-input>
            <ion-button
            size="small"
              class="eye"
              slot="end"
              fill="clear"
              (click)="inputType = (inputType == 'password') ? 'text' : 'password';"
            >
              <ion-icon
                class="ion-align-self-end"
                [name]="(inputType == 'password') ? 'eye' : 'eye-off'"
              ></ion-icon>
            </ion-button>
          </ion-item>
        </div>
  
        <div class="input-container">
          <ion-label class="contrasena">Repetir Contraseña</ion-label>
        <ion-item class="custom">
          <ion-input
              name="password2"
              [type]="inputType2"
              [(ngModel)]="inputValue2"
              shape="round"
              required="true"
              class="custom password"
              inputmode="text"
              maxlength="10"
              
            ></ion-input>
            <ion-button
            size="small"
              class="eye"
              slot="end"
              fill="clear"
              (click)="inputType2 = (inputType2 == 'password') ? 'text' : 'password';"
            >
              <ion-icon
                class="ion-align-self-end"
                [name]="(inputType2 == 'password') ? 'eye' : 'eye-off'"
              ></ion-icon>
            </ion-button>
        </ion-item>
        </div>
        
        <div class="input-container">
          <ion-label>Teléfono</ion-label>
          <ion-input
            type="text"
            shape="round"
            name="telefono"
            [(ngModel)]="telefonoInput"
            required="true"
            class="custom"
            inputmode="numeric"
            
            maxlength="10"
          ></ion-input>
        </div>
        <div class="input-container">
          
          <ion-label>Sexo</ion-label>
          <ion-select part="my-select"
          name="sexoInput"
          [(ngModel)]="sexoInput"
          class="never-flip"
          toggleIcon="caret-down-sharp"
          interface="popover"
          aria-label="sexo"
          placeholder="Seleccionar">
            <ion-select-option value="1">Masculino</ion-select-option>
            <ion-select-option value="2">Femenino</ion-select-option>
            <ion-select-option value="3">Prefiero No Decir</ion-select-option>
          </ion-select>
        </div>
      </form>
      <ion-text class="datosincorrectos"*ngIf="cedulaNoValida" color="danger">
        Cédula no válida<br>
      </ion-text> 
      <ion-text class="datosincorrectos"*ngIf="fechaInvalida" color="danger">
        Debe ser mayor a 18 años<br>
      </ion-text>
      <ion-text class="datosincorrectos"*ngIf="camposVacios" color="danger">
        No debe dejar campos vacios<br>
      </ion-text>
      <ion-text class="datosincorrectos"*ngIf="contrasenasIguales" color="danger">
        Las contraseñas no coinciden<br>
      </ion-text>
      <ion-text class="datosincorrectos"*ngIf="usuarioExistente" color="danger">
        El correo electrónico ya se encuentra registado<br>
      </ion-text>
      <ion-text class="datosincorrectos"*ngIf="cedulaExistente" color="danger">
        La cédula ya se encuentra registrada<br>
      </ion-text>
      <ion-text class="datosincorrectos"*ngIf="emailInvalido" color="danger">
        El correo electrónico no es válido<br>
      </ion-text>
      <div class="checkbox">
        <ion-checkbox [(ngModel)]="termsAccepted"
          ></ion-checkbox
        >
        <ion-text class="terms">
          Al utilizar nuestra aplicación, usted acepta los:  y 
          <a (click)="mostrarTerminos()">Términos y Condiciones</a> y  <a (click)="mostrarPoliticas()">Política en Privacidad</a>
        </ion-text>
      </div>

      <ion-text class="datosincorrectos"*ngIf="terminosNoAceptados" color="danger">
        Debe aceptar los Términos y Condiciones<br>
      </ion-text>
           
      <div class="buttons">
        <ion-button class="button normal-radius" (click)="registrarse('principal')"> Registrarse </ion-button>
        <ion-button class="button normal-radius" (click)="registrarse('conductor')"> Soy Conductor </ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>



