<ion-header>
  <ion-toolbar>
    <ion-title>
      Your Page
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-button (click)="takePhoto()">Take Photo</ion-button>

  <!-- Live camera feed -->
  <div *ngIf="cameraImage === null">
    <video
      id="cameraPreview"
      width="100%"
      height="auto"
      muted
      autoplay
      playsinline
    ></video>
  </div>

  <!-- Captured image -->
  <img *ngIf="cameraImage !== null" [src]="cameraImage" alt="Captured Image" />
</ion-content>
