#qr-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
}

#qr-content::part(background){
    background: white;
}

.verificarBrandeo{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin-top: 10px;
}

.title{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
}

.tallerItem{
    --background: none;
    background: none;
}

.tallerList{
    background: none;
    --background: none;
    width: 100%;
}

.maps-icon{
    max-width: 20px;
    max-height: 20px;
    min-width: 20px;
    min-height: 20px;
    margin-right: 15px;
  }
  
.maps-icon::part(image){
    max-width: 20px;
    max-height: 20px;
}

.maps-link{
    margin-right: 10px;
    color: black;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.taller-direccion{
    display: flex;
    flex-direction: row;
}

// .taller-nombre{
//     text-align: center;
// }

.QR{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}