<ion-content id="qr-content">
  <div class="title">
    <ion-text class="ion-black-text black-text uppercase-text">
      PRESENTE EL SIGUIENTE CÓDIGO EN EL taller de brandeo:
    </ion-text>
    <ion-text class="ion-black-text black-text capitalize">
      Taller(es) Brandeo
    </ion-text>
  </div>
  <ion-button (click)="crearQR()">Mostrar QR</ion-button>
  <div class="QR"><qrcode [qrdata]="datos" [width]="400"></qrcode></div>
  <ion-button (clicl)="aceptar()">Aceptar</ion-button>
</ion-content>
