<ion-content id="qr-content">
  <div class="title">
    <ion-text class="ion-black-text black-text uppercase-text">
      presente el siguiente código QR en los siguientes talleres de brandeo:
    </ion-text>
    <ion-list class="tallerList">
      <ion-item *ngFor="let taller of talleresCampana" class="tallerItem ion-black-text black-text capitalize">
        <a class="maps-link" [href]="taller.referencia">
          <ion-label class="taller-nombre">{{taller.nombre}}</ion-label>
          <ion-label class="taller-direccion">
            <ion-img src="../../../../assets/images/Google_Maps_icon_(2020).svg.png" class="maps-icon">
            </ion-img>
            {{taller.direccion}}
          </ion-label>
        </a>
      </ion-item>
    </ion-list>
  </div>
  <div>
    <!-- <ion-button (click)="crearQR()">Generar Código QR</ion-button> -->
    <!-- <ion-text>{{crearQR(pare() nt)}}</ion-text> -->
    <form enctype="multipart/form-data">
      <div class="QR">
        <qrcode (qrCodeURL)="onChange($event)" #parent [allowEmptyString]="true" [qrdata]="getDatos()" [width]="200" [imageSrc]="'../../../../assets/images/migo-logo.png'" [elementType]="'canvas'">
        </qrcode></div>
    </form>
  </div>
 
  <div class="verificarBrandeo">
    <ion-text class="ion-black-text black-text">Puede revisar este QR y enviar la evidencia del brandeo para comenzar a monetizar en "Verificaciones", dentro del menú de opciones.</ion-text>
    <ion-button (click)="aceptar()">Aceptar</ion-button>
  </div>
</ion-content>
