<ion-toolbar>
  <ion-buttons slot="start">
    <ion-button class="normal-radius" (click)="mostrarMenu()">
      <ion-icon class="menu" name="menu-outline"></ion-icon>
    </ion-button>
    <ion-title class="bold-text">DETALLES DE CAMPAÑA</ion-title>
  </ion-buttons>

  <ion-buttons slot="end">
    <ion-button class="notificaciones" (click)="mostrarNotificaciones()">
      <img
        src="../../../assets/iconos-migo/campanita.png"
        style="width: 40px; height: 40px"
    /></ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content [fullscreen]="true">
  <div class="ad">
    <ion-img
      src="../../../assets/images/banner-movistar.jpg"
      alt="Banner Publicitario"
      class="img-ad"
    ></ion-img>
  </div>

  <ion-card id="card-container">
    <ion-card-content>
      <div class="banner-empresa ad">
        <ion-img
          src="../../../assets/banners/{{campana.id_empresa}}.jpg"
          alt="Banner de la empresa"
          class="img-empresa"
        ></ion-img>
      </div>
      <div class="info-container">
        <div class="header-campana">
          <h2 class="uppercase-text bold-text">{{campana.nombre_campana}}</h2>
          <p class="capitalize">{{nombreEmpresa}}</p>
          <p class="capitalize">Responsable: {{campana.nombre_responsable}}</p>
          <div class="correo-container">
            <ion-icon name="mail"></ion-icon>
            <p class="correo">{{campana.correo_responsable}}</p>
          </div>
        </div>
        <div class="info-campana">
          <div class="titulos-info bold-text">
            <p>Tarifa por kilometraje:</p>
            <p>Horario Monetizable:</p>
            <p>Cobro mínimo:</p>
            <p>Tipo de Brandeo disponible:</p>
          </div>
          <div class="variables-info">
            <p>${{campana.tarifa_min}} - ${{campana.tarifa_max}}</p>
            <p>
              {{campana.hora_monetizable_inicio}} -
              {{campana.hora_monetizable_fin}}
            </p>
            <p>${{campana.cobro_minimo}}</p>
            <p>{{campana.tipo_brandeo}}</p>
          </div>
        </div>
        <div class="mapa bold-text">
          <p>Sector monetizable:</p>
          <div id="newMap">
            <img class="custom-map" src="../../../assets/rutas/2.png"/>
            <!-- <capacitor-google-map
              #mapElement
              class="custom-map"
              id="map"
            ></capacitor-google-map> -->
          </div>
        </div>
        <div class="talleres">
          <div class="talleres-direccion">
            <p>Talleres disponibles:</p>
            <div class="taller-direccion">
              <p>{{campana.taller_brandeo}}</p>
              <p>Cdla. Atarazana Manzana 56 Solar 122</p>
            </div>
          </div>
          <div class="vehiculo-tipo">
            <p>Tipo de Vehículos:</p>
            <div class="vehiculosContainer">
              <ion-img
                *ngIf="campana.sedan_admisible"
                class="vehiculoType"
                src="../../../assets/autos/1.png"
                alt="Vehiculo"
              ></ion-img>
              <ion-img
                *ngIf="campana.bus_admisible"
                class="vehiculoType"
                src="../../../assets/autos/2.png"
                alt="Vehiculo"
              ></ion-img>
              <ion-img
                *ngIf="campana.camion_admisible"
                class="vehiculoType"
                src="../../../assets/autos/3.png"
                alt="Vehiculo"
              ></ion-img>
              <ion-img
                *ngIf="campana.camioneta_admisible"
                class="vehiculoType"
                src="../../../assets/autos/4.png"
                alt="Vehiculo"
              ></ion-img>
            </div>
          </div>
        </div>
        <div class="button-container">
          <ion-button
            class="formulario capitalize"
            (click)="abrirFormulario()"
            color="warning"
            >Aplicar</ion-button
          >
        </div>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>
