<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button icon="chevron-back" (click)="cerrarModal()" default-href=""></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center">MENÚ DE OPCIONES</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <img class="usericon" alt="Icon" src="../../../../assets/iconos-migo/03.png" />
    <ion-text class="uppercase-text bold-text">{{client.nombre}} {{client.apellido}}</ion-text>
    <ion-text class="white-text bold-text">{{user.email}}<br></ion-text>
  </div>
  <div class="container">
    <ion-card>
      <ion-card-content class="menuContainer">
        <ion-list>
          <ion-item class="opcMenu" (click)="abrirVentana('vehiculos')">
            <ion-thumbnail slot="start">
              <img alt="" src="../../../../assets/icono de menu/01.png" />
            </ion-thumbnail>
            <ion-label>Mis Vehículos</ion-label>
          </ion-item>   
          <ion-item class="opcMenu" (click)="abrirVentana('verificaciones')">
            <ion-thumbnail slot="start">
              <img alt="Silhouette of mountains" src="../../../../assets/icono de menu/02.png" />
            </ion-thumbnail>
            <ion-label>Verificaciones</ion-label>
          </ion-item>
    
          <ion-item class="opcMenu" (click)="abrirVentana('historial')">
            <ion-thumbnail slot="start">
              <img alt="Silhouette of mountains" src="../../../../assets/icono de menu/03.png" />
            </ion-thumbnail>
            <ion-label>Historial de Pagos</ion-label>
          </ion-item>
    
          <ion-item lines="none" class="opcMenu" (click)="abrirVentana('preguntas')">
            <ion-thumbnail slot="start">
              <img alt="Silhouette of mountains" src="../../../../assets/icono de menu/04.png" />
            </ion-thumbnail>
            <ion-label>Preguntas Frecuentes</ion-label>
          </ion-item>

          <ion-item lines="none" class="opcMenu" (click)="abrirVentana('tips')">
            <ion-thumbnail slot="start">
              <img alt="Silhouette of mountains" src="../../../../assets/icono de menu/05.png" />
            </ion-thumbnail>
            <ion-label>Tips y Tutoriales</ion-label>
          </ion-item>

          <ion-item lines="none" class="opcMenu" (click)="abrirVentana('reclamos')">
            <ion-thumbnail slot="start">
              <img alt="Silhouette of mountains" src="../../../../assets/icono de menu/06.png" />
            </ion-thumbnail>
            <ion-label>Reclamos y Soporte</ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
  </div>

    <div id="button-container">
    <ion-button class="normal-radius" color="primary" (click)="cerrarSesion()">
      CERRAR SESIÓN
    </ion-button>
  </div>

</ion-content>
