<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button
        icon="chevron-back"
        (click)="cerrarModal()"
        default-href=""
      ></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-center bold-text uppercase-text">Notificaciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item class="button-container">
    <ion-button class="ion-text-end eliminar capitalize bold-text">
      Eliminar Todo
      <ion-icon name="trash" color="white"></ion-icon>
    </ion-button>
  </ion-item>

  <ion-item class="first-container container">
    <ion-title class="read">No leídas</ion-title>
    <ion-card>
      <div class="date">
        12/11/2023
        22:15
      </div>
      <ion-card-content>
        <img class="notif-img" src="../../../../assets/campanas/1.jpg">
        <div class="notif-contenido">
          <ion-text class="notif-title bold-text uppercase-text">Bienvenido</ion-text>
          <ion-text class="notif-content">Te damos la bienvenida a Migo Ads! Ahora puedes comenzar a monetizar. </ion-text>
        </div>
        <ion-button class="detalle ion-text-wrap capitalize bold-text">Ver detalle</ion-button>
      </ion-card-content>
    </ion-card>
  </ion-item>

  <div class="line"></div>


  <ion-item class="second-container container">
    <ion-title class="read"> Leídas </ion-title>
    <ion-text>No Hay Notificaciones</ion-text>
  </ion-item>
</ion-content>
