@import url('/src/theme/variables.scss');

#card-RecorridoInfo{
    background: white;
    margin: 20px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pagos-Container{
    padding: 20px;
}

#line{
    height: 2px;
    border-bottom: 1px solid rgb(192, 192, 192);
    width: 80%;
}

#retiroInfoContainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10%;
    padding: 10px;
    width: 100%;
}

.hist-infotext{
    display: flex;
    flex-direction: column;
}

#retiroButtonContainer{
    display: flex;
    justify-content: center;
}

#generarRetiroButton{
    --background: rgb(37, 244, 37);
    --border-radius: 20px;
    margin: 10px;

}

#filtroContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

#filtroButton{
    width: 200px;
    --background: white;
    --border-radius: 20px
}

#filtroButton::part(native){
    .button-inner{
        display: flex;
        justify-content: space-between;
    }
}

#filtroButton::part(native) > span{
    
        display: flex;
        justify-content: space-between;
        background: green;
}


// CARDS
.retiroCardsContainer{

}

.retiroCard{

}

.headerRetiro{
    width: 100%;
    background-color: var(--ion-color-primary);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
}

.subContentCard{
    padding: 0;
}

.bodyRetiro{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}

.textoRetiro{
    display: flex;
    flex-direction: column;
    // gap: 5px;
}

.buttonRetiroContainer{
    display: flex;
    justify-content: flex-end;
}
