<ion-tabs>
 
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="triangle"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>
 
    <ion-tab-button tab="panel">
      <ion-icon name="ellipse"></ion-icon>
      <ion-label>Panel de Control</ion-label>
    </ion-tab-button>
 
    <ion-tab-button tab="solicitudes">
      <ion-icon name="square"></ion-icon>
      <ion-label>Solicitudes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="recorrido">
      <ion-icon name="triangle"></ion-icon>
      <ion-label>Recorrido</ion-label>
    </ion-tab-button>
 
    <ion-tab-button tab="perfil">
      <ion-icon name="ellipse"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
 
</ion-tabs>