@import '../../../theme/variables.scss';

.datosincorrectos{
    color: var(--ion-color-danger);
}

.ion-align-self-end{
    color: white;
}

ion-input{
    --color: white;
}

.login-form{
    padding-top: 12%;
}

form{
    padding-top: 10%;
}

.form-label{
    --color: white;
}

ion-card-content{
    text-align: center;
}

.img-google{
    padding-top: 4%;
    width: 15%;
    height: 15%;
}
ion-button{
    padding-top: 10%;
}

ion-footer{
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0px;
    text-align: center;
}

.invitado{
    text-decoration: none;
    color: white;
}

.terms a {
    text-decoration: underline; /* Subrayado */
    font-weight: bold; /* Negrita */
  }
  

  