@import '../../theme/variables.scss';

.datosincorrectos{
    color: var(--ion-color-danger);
}

.ion-align-self-end{
    color: white;
}

.login-form{
    padding-top: 12%;
}

form{
    padding-top: 10%;
}

ion-card-content{
    text-align: center;
}

ion-button{
    --ion-font-weight:bold;
    --color: black;
    --color-activated: white;
    --background-activated: black;
    padding-top: 10%;
}

.img-google{
    padding-top: 4%;
    width: 15%;
    height: 15%;
}


ion-footer{
    padding-top:25%;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 0px;
    text-align: center;
}

.invitado{
    text-decoration: none;
    color: white;
}