#container {
  text-align: center;

  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

.menu{
  --min-width: 100%;
}

.ad {
  display: flex;
  justify-content: center; /* Alineación horizontal al centro */
  align-items: center; /* Alineación vertical al centro */
  height: 120px; /* Altura del contenedor, ajusta según tus necesidades */
}

.ad p {
  margin: 0; /* Elimina el margen por defecto del párrafo */
}

.section-toolbar{
  padding: 0;
}

.app-campana{
  display: flex;
  justify-content: center;
}