<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Página de Inicio
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Usted ha iniciado sesión</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Usted ha iniciado sesión</strong>
    <ion-button color="primary" (click)="cerrarSesion()">
      CERRAR SESIÓN
    </ion-button>
  </div>
</ion-content>
