<ion-toolbar>
  <ion-buttons slot="start">
    <ion-button class="normal-radius" (click)="mostrarMenu()">
      <ion-icon class="menu" name="menu-outline"></ion-icon>
    </ion-button>
  </ion-buttons>
  <ion-select class="filtro" interface="popover" placeholder="Filtrar por">
    <ion-select-option value="tarifaasc">Tarifa</ion-select-option>
    <ion-select-option value="tarifadesc">Tarifa</ion-select-option>
    <ion-select-option value="campanaAZ">Campaña</ion-select-option>
    <ion-select-option value="campanaZA">Campaña</ion-select-option>
    <ion-select-option value="sectorAZ">Sector</ion-select-option>
    <ion-select-option value="sectorZA">Sector</ion-select-option>
  </ion-select>

  <ion-buttons slot="end">
    <ion-button class="notificaciones" (click)="mostrarNotificaciones()">
      <img
        src="../../../assets/iconos-migo/campanita.png"
        style="width: 40px; height: 40px"
    /></ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content [fullscreen]="true">
  <div class="ad">
    <p>BANNER PUBLICITARIO</p>
  </div>

  <ion-toolbar class="section-toolbar">
    <ion-segment [(ngModel)]="segmentValue">
      <ion-segment-button value="campanas">
        <div class="segment-container">
          <ion-icon class='toolbar-icon' name="megaphone"></ion-icon>
          <ion-label class="toolbar bold-text capitalize">Campañas</ion-label>
        </div>
      </ion-segment-button>
      <ion-segment-button value="marcas">
        <div class="segment-container">
          <ion-icon class='toolbar-icon' name="business"></ion-icon>
          <ion-label class="toolbar bold-text capitalize">Marcas</ion-label>
        </div>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>

  <div class="app-campana" *ngIf="segmentValue === 'campanas'">
    <app-campana></app-campana>
  </div>

  <div *ngIf="segmentValue === 'marcas'">
    <app-marcas></app-marcas>
  </div>
</ion-content>

<!-- <div id="container">
    <strong>Usted ha iniciado sesión</strong>
    <ion-button color="primary" (click)="cerrarSesion()">
      CERRAR SESIÓN
    </ion-button>
  </div> -->
