.icon-name-email{
    display: flex;
    flex-direction: column;
    align-items: center;
}

ion-img#user-icon{
    width: 150px;
    height: 150px;
}

.user-information{
    display: flex;
    flex-direction: column;
}

.button-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

ion-item.info::part(native){
    display: flex;
    flex-direction: column;
    align-content: start;
}

ion-text.label{

}

ion-text.value{
    background: white;
    color: black;
    border-radius: 10px;
    width: 100%;
}