/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

ion-card, ion-footer{
    --ion-background-color: transparent;
    box-shadow: none !important;
}

ion-text{
    color: white;
}

a{
    color: white;
}

ion-toolbar{
    padding-top: 10%;
    padding-left: 5%;
}

ion-toolbar > ion-title {
    width: fit-content;
    padding-left: 20%;
}

.msg-icon{
    width: 30%;
    height: 30%;
}


/** Tamaños de fuente **/

.size-small{
    font-size: 15px;
}

.size-smaller {
    font-size: 10px;
}

ion-item.input-item{
    --border-color: 1px solid white;
}

ion-button{
    --ion-font-weight:bold;
    --color: black;
    --color-activated: white;
    --background-activated: black;
}

.normal-radius{
  --border-radius:10px;
}

.rounded-button{
  --border-radius: 20px;
}

.white-text{
  --color: white;
}

ion-text.datosincorrectos{
    color : red;
}

ion-modal.terms{
    --height: 75%;
    --width: 90%;
  }

  ion-input.custom.ios .input-bottom .helper-text,
  ion-input.custom.ios .input-bottom .counter,
  ion-input.custom.md .input-bottom .helper-text,
  ion-input.custom.md .input-bottom .counter {
    color: var(--ion-color-primary);
  }

  .uppercase-text {
    text-transform: uppercase;
  }

  .capitalize{
    text-transform: capitalize;
  }

  .bold-text {
    font-weight: bold;
  }
  
  .ad{
    background-color: yellow;
    color: black;
    text-align: center;
  }

  //shadow

#select-label{
    min-height: 25px;
  }



//ion select option

ion-list.sc-ion-select-popover.md{
  background-color: white;
}

ion-item.select-interface-option::part(native){
  background-color: white;
  color: black
}

ion-list.sc-ion-select-popover-md{
    background-color: white;
    // border-radius: 20px;
}

.segment-button-checked{
    background-color: rgba(111,111,111,1);
}