/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

@import "./theme/variables.scss";

ion-card,
ion-footer {
  --ion-background-color: transparent;
  box-shadow: none !important;
}

/** Color fondos **/
body {
  background: var(--ion-background-color);
}

ion-content:host {
  --background: white;
}

/** Color titulos **/
.form-title {
  color: var(--ion-text-color);
  font-size: medium;
}

.title-container {
  border-bottom: 1px solid var(--ion-text-color);
}

/** Color textos **/

ion-text {
  --color: var(--ion-text-color);
  color: var(--ion-text-color);
}

ion-input {
  --color: var(--ion-input-text-color);
}

ion-item.clear-input-item {
  --border: 1px solid var(--ion-input-text-color);
  --border-color: var(--ion-input-text-color);
}

.side-icon {
  color: var(--ion-side-icon-color);
}

.side-icon-contrast {
  color: var(--ion-side-icon-color2);
  --color: var(--ion-side-icon-color2);
}

.orange-color-contrast {
  color: var(--ion-color-warning);
  --color: var(--ion-color-warning);
}

.white-text {
  --color: white;
  color: white;
}

.black-text {
  --color: black;
  color: black;
}

.white-background {
  background-color: white;
  --background: white;
  --background-color: white;
}

.black-background {
  background-color: black;
  --background: black;
  --background-color: black;
}

.primary-background {
  background-color: var(--ion-color-primary);
  --background: var(--ion-color-primary);
  --background-color: var(--ion-color-primary);
}

.form-label {
  --color: var(--ion-text-color);
}

.subtitleContainer{
  font-family: 'Centrale-Sans';
  border-bottom: 1px solid white;
}

a {
  text-decoration: none;
  color: var(--ion-text-color);
}

.terms > a {
  text-decoration: underline; /* Subrayado */
  font-weight: bold; /* Negrita */
  color: var(--ion-text-color);
}

.datosincorrectos {
  color: var(--ion-color-danger);
}

/** Color objetos **/
ion-card.white-card{
  background: white;
  --background-color: white;
  --border-radius: 20px;
  border-radius: 20px;
  --color: black;
  color: black;
}

ion-card.white-card > * {
  --color: black;
  color: black;
}

ion-checkbox {
  --border-color: #ffffff;
}

ion-button {
  --ion-font-weight: bold;
  --color: black;
  --color-activated: white;
  --background-activated: black;
  --border-radius: 10px;
}

.green-button{
  --background: rgb(61, 214, 14);
  --color: white;
  font-weight: bold;
}

.gray-button{
  --background: rgb(181, 181, 181);
  --color: black;
}

.contrast-button {
  --background: var(--ion-color-warning);
  --color: var(--ion-text-color);
}

ion-toolbar {
  --background: none;
  padding-top: 20px;
  display: flex;
  text-align: center;
}

ion-toolbar > ion-buttons {
  height: 48px;
  width: 48px;
}

ion-toolbar > ion-title {
  width: 100%;
  padding-right: 48px;
}

.msg-icon {
  width: 30%;
  height: 30%;
}

/** Tamaños de fuente **/

.size-small {
  font-size: 15px;
}

.size-smaller {
  font-size: 10px;
}

.normal-radius {
  --border-radius: 10px;
}

.rounded-button {
  --border-radius: 20px;
}

ion-modal.terms {
  --height: 75%;
  --width: 90%;
}

ion-modal.vehiculos-modal {
  --height: 200px;
  --width: 300px;
  --border-radius: 20px;
  --background: white;
}

ion-modal.fotopreview {
  --height: 600px;
  --width: 400px;
  --border-radius: 20px;
  --background: white;
}

ion-modal.detalle-vehiculo {
  --height: 600px;
  --width: 90%;
  --border-radius: 20px;
  --background: white;
}

ion-modal.deleteVehiculoConfirmation {
  --height: 300px;
  --width: 90%;
  --border-radius: 20px;
  --background: white;
}

ion-modal.conductor-modal {
  --height: 400px;
  --width: 95%;
  --border-radius: 20px;
  --background: white;
}

ion-modal.no-tiene-vehiculo{
  --height: 300px;
  --width: 90%;
  --border-radius: 20px;
  --background: white;
}

.qr-modal {
  --height: 75%;
  --width: 90%;
  --border-radius: 20px;
  --background: white;
}

ion-modal.solicitudConfirmar{
  --height: 30%;
  --width: 90%;
  --border-radius: 40px;
  --background: white;
}

ion-modal.solicitudConfirmar::part(backdrop) {
  opacity: 1;
}

.conducirModal{
  --height: 30%;
  --width: 90%;
  --border-radius: 40px;
  --background: white;
}

.anularRegistroModal{
  --height: 50%;
  --width: 90%;
  --border-radius: 40px;
  --background: white;
}

.mapa-recorrido-modal{
  --height: 60%;
  --width: 80%;
  --border-radius: 40px;
  --background: white;
}

ion-modal.detalleMarcaModal{
  --height: 60%;
  --width: 80%;
  --border-radius: 40px;
  --background: white;
}

ion-modal{
  --backdrop-opacity: 0.6;
}

ion-modal.eliminar-vehiculo{
  --height: 30%;
  --width: 80%;
  --border-radius: 40px;
  --background: white;
}

ion-modal.enviarFormApp{
  --height: 30%;
  --width: 80%;
  --border-radius: 40px;
  --background: white;
}

ion-modal.eliminarCuenta{
  --height: 50%;
  --width: 80%;
  --border-radius: 40px;
  --background: white;
}

/* Pantallas de cargando */
.loadingContent{
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  // height: 100%;
}

.loadingSpinner{
  width: 70px;
  height: 70px;
  align-self: center;
}

ion-content.withoutBackground::part(background){
  background: none;
}

.ion-black-text {
  --color: black;
}

.black-text {
  color: black;
}

.marginContent{
  margin: 20px;
}

ion-input.custom.ios .input-bottom .helper-text,
ion-input.custom.ios .input-bottom .counter,
ion-input.custom.md .input-bottom .helper-text,
ion-input.custom.md .input-bottom .counter {
  color: var(--ion-color-primary);
}

.uppercase-text {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.bold-text {
  font-weight: bold;
}

.ad {
  background-color: transparent;
  // color: black;
  text-align: center;
  overflow: hidden;
  max-height: 100px;
}

.img-ad {
  width: 100%;
  aspect-ratio: auto;
  // height: inherit;
  // object-position: -0px -106px;
}

//shadow

#select-label {
  min-height: 25px;
}

//ion select option

ion-list.sc-ion-select-popover.md {
  background-color: white;
}

ion-item.select-interface-option::part(native) {
  background-color: white;
  color: black;
}

ion-list.sc-ion-select-popover-md {
  background-color: white;
  // border-radius: 20px;
}

.segment-button-checked {
  background: linear-gradient(0deg, rgba(45,45,45,1) 0%, rgba(129,129,129,1) 63%, rgba(184,184,184,1) 100%);
}

ion-segment-button{
  background: #787878;
}

// ion-segment-button:host(.in-toolbar:not(.in-segment-color)){
//   background: #5e5e5e;
// }

//alert in change password
ion-alert.passwordAlert {
  --background: white;
  --backdrop-opacity: 0.4;
  --border-radius: 15px;
  --color: black;
  .alert-button {
    background-color: var(--ion-color-primary);
    border-radius: 10px;
    color: black;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  }
}

//alert in notifications
ion-alert.notificationsAlert {
  --background: white;
  --backdrop-opacity: 0.4;
  --border-radius: 15px;
  // --color:red;
  h2.alert-title {
    color: black;
  }
  .alert-message {
    color: red;
  }
  .alert-wrapper {
    border-radius: 15px;
  }
  // .alert-button{
  //     background-color: var(--ion-color-primary);
  //     border-radius: 10px;
  //     color: black;
  //     box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  //   }

  .cancelarButton {
    // background-color: var(--ion-color-primary);
    // border-radius: 5px;
    color: black;
    // box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, 0.1);
  }

  .YesButton {
    background-color: var(--ion-color-primary);
    border-radius: 5px;
    color: black;
    box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, 0.1);
  }
}

// ion-input.addVehiculoInput > input {
//   --pading-top: 0px;
//   --padding-bottom: 0px;
// }

.legacy-input.sc-ion-input-md-h .native-input.sc-ion-input-md {
  --pading-top: 0px;
  --padding-bottom: 0px;
}


/** popOvers REGISTRO **/
.sexo-popover{
  .hydrated{
    --background: none;
    --box-shadow: none;
  }
}

.sexo-popover{
  ion-select-popover{
    ion-list{
      border-radius: 15px;
    }
  }
}

/** APP CAMPANA **/
app-campana{
  width: 100%;
}


/* agregar vehiculo (select)*/

.aggV-popover{

}