<ion-header>
  <ion-toolbar>
    <ion-buttons slot="end">
      <ion-button (click)="cerrarModal()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <h2>Políticas de Privacidad</h2>
      <p>
        En cumplimiento con la legislación de protección de datos, le informamos que sus datos personales se recopilan y procesan de acuerdo con nuestra política de privacidad.
      </p>
      <h3>Recopilación de Datos</h3>
      <p>
        Recopilamos datos personales como [descripción de los tipos de datos recopilados] con el propósito de [indicar el propósito].
      </p>
      <h3>Uso de los Datos</h3>
      <p>
        Los datos recopilados se utilizan para [indicar el uso de los datos].
      </p>
      <h3>Seguridad de Datos</h3>
      <p>
        Implementamos medidas de seguridad para proteger sus datos personales.
      </p>
    </ion-card-content>
  </ion-card>
</ion-content>
