<app-barra-navegacion></app-barra-navegacion>

<ion-content class="withoutBackground">
  <ion-card>
    <form enctype="multipart/form-data">
      <div class="licencia-container">
        <p class="white-text">Licencia de Conducir:</p>
        <input
          type="file"
          name="inputfile-lic"
          (change)="onFileChange($event, 'licencia')"
          accept=".pdf"
          id="getFileLic"
          style="display: none"
          
          
        />
  
        <div class="fileName">
          <ion-button
            onclick="document.getElementById('getFileLic').click()"
            class="capitalize subir-archivo"
            >Subir Archivo</ion-button
          >
          <ion-text *ngIf="showLicencia" id="file-name"
            >Formato admitido: (.pdf)</ion-text
          >
          <ion-text id="archivoLicencia">{{archivoLicencia?.name}}</ion-text>
        </div>
      </div>
      <div class="licencia-container">
        <p class="white-text">{{textoMatricula}}:</p>
        <input
          type="file"
          name="inputfile-matr"
          (change)="onFileChange($event, 'matricula')"
          accept=".pdf"
          id="getFileMatr"
          style="display: none"
          
        />
  
        <div class="fileName">
          <ion-button
            onclick="document.getElementById('getFileMatr').click()"
            class="capitalize subir-archivo"
            >Subir Archivo</ion-button
          >
          <ion-text *ngIf="showMatricula" id="file-name"
            >Formato admitido: (.pdf)</ion-text
          >
          <ion-text id="archivoMatricula">{{archivoMatricula?.name}}</ion-text>
        </div>
      </div>

    </form>
      <div class="formulario">
        <div class="ion-no-border" [formGroup]="formularioAplicacion">
          <!-- if usuario ya esta registrado, el correo y cedula ya esta predeterminado -->
          <ion-item class="input-item">
            <ion-input
              [placeholder]="correoInput"
              maxlength="50"
              inputmode="text"
              formControlName="email"
              type="email"
              aria-disabled="true"
            ></ion-input>
          </ion-item>
          <ion-item class="input-item">
            <ion-input
              [placeholder]="cedulaInput"
              maxlength="10"
              formControlName="cedula"
              aria-disabled="true"
            ></ion-input>
          </ion-item>
          <!-- Aqui seria de hacer un select -->
          <ion-item class="input-item">
            <ion-button id="filtroBanco" class="filtro">
              <ion-text class="capitalize filtrar-por"
                >{{entidadBancaria}}</ion-text
              >
              <ion-icon
                id="icon-filtrar"
                class="end-of-line"
                name="chevron-down-outline"
              ></ion-icon>
            </ion-button>
            <ion-popover
              id="listaBancos"
              side="top"
              alignment="center"
              trigger="filtroBanco"
              alignment="center"
            >
              <ng-template>
                <ion-content class="filter-options">
                  <ion-searchbar
                    id="buscarBanco"
                    show-clear-button="focus"
                    (ionInput)="handleInput($event)"
                    placeholder="Buscar..."
                  ></ion-searchbar>
                  <ion-list class="list-options">
                    <ion-item
                      class="select-option"
                      *ngFor="let banco of results"
                      (click)="cambiarBanco(banco)"
                    >
                      {{banco}}
                    </ion-item>
                  </ion-list>
                </ion-content>
              </ng-template>
            </ion-popover>
          </ion-item>
  
          <ion-item class="input-item">
            <ion-button id="filtroCuenta" class="filtro">
              <ion-text class="capitalize filtrar-por">{{tipoCuenta}}</ion-text>
              <ion-icon
                id="icon-filtrar"
                class="end-of-line"
                name="chevron-down-outline"
              ></ion-icon>
            </ion-button>
            <ion-popover
              id="listaCuentas"
              trigger="filtroCuenta"
              alignment="center"
            >
              <ng-template>
                <ion-content class="filter-options">
                  <ion-list class="list-options">
                    <ion-item
                      class="select-option"
                      *ngFor="let cuenta of tiposCuentas"
                      (click)="cambiarCuenta(cuenta)"
                    >
                      {{cuenta}}
                    </ion-item>
                  </ion-list>
                </ion-content>
              </ng-template>
            </ion-popover>
          </ion-item>
  
          <ion-item class="input-item">
            <ion-input
              placeholder="Número de Cuenta"
              type="text"
              maxlength="15"
              formControlName="Numerocuenta"
              inputmode="numeric"
              [(ngModel)]="numeroCuentaInput"
            ></ion-input>
          </ion-item>
        </div>
      </div>
  
      <!-- Mensajes de retroalimentacion -->
      <div class="retroalimentacion">
        <ion-text class="datosincorrectos" *ngIf="archivoVacio" color="danger">
          Debe subir un archivo<br />
        </ion-text>
        <ion-text
          class="datosincorrectos"
          *ngIf="entidadBancariaVacio"
          color="danger"
        >
          Elija una entidad bancaria<br />
        </ion-text>
        <ion-text
          class="datosincorrectos"
          *ngIf="tipodeCuentaVacio"
          color="danger"
        >
          Elija un tipo de cuenta<br />
        </ion-text>
        <ion-text
          class="datosincorrectos"
          *ngIf="numeroCuentaVacio"
          color="danger"
        >
          Escriba su número de cuenta<br />
        </ion-text>
        <ion-text
          class="datosincorrectos"
          *ngIf="mostrarmsgVehiculo"
          color="danger"
        >
          Elija o registre un vehiculo<br />
        </ion-text>
      </div>
  
      <div class="select-vehiculo">
        <div class="select-v" *ngIf="!seleccionoVehiculo">
          <div class="infoPopOverAlignment">
            <ion-button id="click-select-v-info" class="infoPopOverButton"><ion-icon class="helpIcon" name="help-circle-outline"></ion-icon></ion-button>
            <ion-label class="uppercase-text white-text">Seleccionar vehículo</ion-label>
          </div>
          <ion-button
            id="open-modal"
            (click)="seleccionarVehiculo()"
            class="add-vehiculo"
          >
            <ion-icon class="plus" name="add-circle-outline"></ion-icon>
          </ion-button>
        </div>
  
        <div class="selected-v" *ngIf="seleccionoVehiculo">
          <p class="uppercase-text white-text">Vehiculo Seleccionado:</p>
          <div class="vehiculoSeleccionado">
            <div class="img-container">
              <img
                class="img-vehiculo"
                [src]="getImageSrc('frontal', vehiculoSeleccionado!)"
                alt="{{vehiculoSeleccionado?.placa}}"
              />
            </div>
            <div class="info-container">
              <p>{{marcaVehiculo}}</p>
              <p>{{modeloVehiculo}}</p>
              <p>{{vehiculoSeleccionado?.placa}}</p>
            </div>
            <div class="icons-container">
              <ion-icon
                name="trash-outline"
                (click)="eliminarVehiculo()"
              ></ion-icon>
            </div>
          </div>
        </div>

        <div class="select-parte-brandeable" *ngIf="seleccionoVehiculo">
          <div class="infoPopOverAlignment selectVehiculopopOverContainer">
            <ion-label class="uppercase-text white-text">parte a brandear: </ion-label>
          </div>
          <div class="partes-Brandear">
            <div class="elementos-brandear" *ngFor="let parte of partesBrandeables" >
              <ion-checkbox [(ngModel)]="parte.brandeo"> </ion-checkbox>
              <ion-text>{{parte.nombre}}</ion-text>
            </div>
          </div>
        </div>

        <div class="select-parte-brandeable" *ngIf="seleccionoVehiculo">
          <div class="infoPopOverAlignment selectVehiculopopOverContainer">
            <ion-label class=" white-text">Ganancia: </ion-label>
          </div>
          <div class="partes-Brandear" style="text-align: center;">
            <ion-text><b>$ {{obtenerGanancia()}}</b> x km</ion-text>
          </div>
        </div>


  
        <div class="terms">
          <ion-checkbox [(ngModel)]="termsAccepted"> </ion-checkbox>
          <p>
            Al registrarse en esta campaña, usted acepta los:
            <a class="terms-politics" (click)="mostrarTerminos()"
              >Términos y Condiciones</a
            >
            y
            <a class="terms-politics" (click)="mostrarPoliticas()"
              >Política en Privacidad</a
            >
          </p>
        </div>
      </div>
  
      <!-- Mensajes de retroalimentacion -->
      <div class="retroalimentacion">
        <ion-text
          class="datosincorrectos"
          *ngIf="terminosNoAceptados"
          color="danger"
        >
          Debe aceptar los Términos y Condiciones<br />
        </ion-text>
        <ion-text
        class="datosincorrectos"
        *ngIf="partesSeleccionada"
        color="danger"
      >
        Seleccione al menos una parte de su vehículo para brandear.<br />
      </ion-text>
      </div>
  
      <div class="button-container">
        <ion-button id="enviarFormularioAplicacion" (click)="enviarFormulario()" class="capitalize-text enviar"
          >Enviar</ion-button
        >
      </div>
    
  </ion-card>

  <ion-popover trigger="click-select-v-info" triggerAction="click">
    <ng-template>
      <ion-content class="ion-padding popOver-infoContent">
        <ion-text class="black-text">
          El registro de un vehículo en campaña es <b>PERSONAL</b> y solamente se mostrarán los vehículos de los cuales usted es conductor o chofer.
        </ion-text>
      </ion-content>
    </ng-template>
  </ion-popover>

</ion-content>
