@import url('../../../theme/variables.scss');

//toolbar
ion-toolbar{
    padding-top: 20px;
    padding-bottom: 14px;
  }
  
  ion-button.notificaciones{
    padding-right: 12px;
  }
  
  ion-button::part(native){
    padding: 0;
  }
  
  ion-icon.menu{
    height: 40px;
    width: 40px;
    padding: 0;
  }

  ion-title.toolbar-text{
    font-size: 16px;
  }

  .fileName{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 200px;
    align-items: center;
    height: 65px;

    //
    // line-height: 1.2;
    // overflow: hidden;
    // text-overflow: ellipsis;
    // display: -webkit-box;
    // -webkit-line-clamp: 1;
    // -webkit-box-orient: vertical;
  }

  ion-text#nombreArchivo{
    height: 15px;
    width: 200px;

    line-height: 1.2;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;

  }

  ion-card{
    background-color: transparent;
  }
  
  // //AD
  // .ad {
  //   display: flex;
  //   justify-content: center; /* Alineación horizontal al centro */
  //   align-items: center; /* Alineación vertical al centro */
  //   height: 75px; /* Altura del contenedor, ajusta según tus necesidades */
  // }
  
  // .ad p {
  //   margin: 0; /* Elimina el margen por defecto del párrafo */
  // }
  
  .img-ad{
    object-position: -0px -25px;
  }

  //modal
  .menu{
      --min-width: 100%;
    }
  
  .notificaciones{
      --min-width: 100%;
  }

  //contenido
  .licencia-container{
//     display: grid;
//     grid-template-columns: repeat(10, 1fr);
// grid-template-rows: 1fr;
// grid-column-gap: 10px;
// grid-row-gap: 0px; 
display: flex;
    
    width: 100%;
    justify-content: center;
    
    margin-top: 7px;
    margin-bottom: 5px;
  }

  .licencia-container > p{
    // grid-area: 1 / 1 / 2 / 6;
    font-size: 17px;
    text-align: end;
  }

  ion-button.subir-archivo{
    --border-radius: 10px;
    --background-color: black;
    width: 120px;
    height: 40px;
    margin-left: 20px;
  }

  //form
  form{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .formulario{
    margin-top: 10px;
    display: flex;
    justify-content: center;
  }

  ion-input{
    --placeholder-color: black;
    margin-left: 20px;
    --placeholder-opacity: 1;
  }

  ion-item.input-item{
    width: 300px;
    background-color: white;
    border-radius: 50px;
    color: black;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 15px;
    height: 40px;
    align-items: center;
    display: flex;
  }

  .select-vehiculo{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .select-v{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 150px;
  }

  ion-button.add-vehiculo{
    width: 60px;
    height: 60px;
    --background: transparent;
    --color: white;
    --box-shadow: none;
  }

  ion-icon.plus{
    min-width: 100%;
    min-height: 100%;
  }

  /** Cuando el vehiculo ya esta seleccionado **/

  .selected-v{
    text-align: center;
    height: 150px;
  }

  .vehiculoSeleccionado{
    background-color: white;
    border-radius: 20px;
    color: black;
    text-align: center;
    height: 100px;
    width: 220px;
    display: flex;
    flex-direction: row;
    padding: 10px;
  }

  .img-container{
    display: flex;
    align-items: center;
  }

  .img-vehiculo{
    width: 80px;
  }

  .info-container{
    width: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .info-container>p{
    margin: 0;
    padding: 0;
  }

  .icons-container{
    padding-top: 7px; 
  }

  /*** MODALS ***/

  .terms{
    display: flex;
    flex-direction: row;
    margin-left: 25px;
    margin-right: 25px;
    align-items: center;
  }

  .vehiculos-modal{
    display: flex;
    flex-direction: row;
    margin-left: 25px;
    margin-right: 25px;
    align-items: center;
  }

  /*** ***/

  .button-container{
    width: 100%;
    text-align: center;
    justify-content: center;
    margin-top: 5px;
  }

  //modal
  ion-modal{
    --height: 50%;
    --border-radius: 16px;
  }

  ion-modal > ion-content{
    // --background-color: white;
    --color: black;
  }

  //variables

  .white-text{
    color: white;
  }

  //filter options con ion-button y ion-list
ion-item::part(native){
  padding: 0;
  min-width: 100%;
  min-height: 100%;
  
}
ion-text.filtrar-por{
  color: black;
  margin-right: auto;
  margin-left: 20px;
  font-size: 16px;
}
ion-button.filtro{
  display: flex;
  --border-radius: 50px;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  --background: white;
  --box-shadow: 0px
}

//select
ion-item.select-option{
  background-color: white;
  color: black;
  // font-size: 18px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
}

ion-content::part(scroll){
  margin-top: 5px;
}

ion-popover#listaBancos::part(content){
  background: white;
  width: 290px;
  height: 300px;
  top: calc(90px + var(--offset-y, 0px));
  left: calc(55px + var(--offset-x, 0px));
}

//popover
#listaCuentas::part(content){
  background: white;
  width: 290px;
}

//SearchBar
ion-searchbar#buscarBanco{
  --border-radius: 20px;
  --background: var(--ion-color-primary);
  --color: black;
}

/** Filter Options Root Select **/
ion-content.filter-options::part(background){
  background: white;
}

ion-content.filter-options::part(scroll){
  padding: 0;
  background-color: white;
  border-radius: 10px;
}

ion-list.list-options{
  // padding: 0;
  background-color: white; 
  padding: 0;
}

ion-item.select-option::part(native){
  background-color: white;
}

//retroalimentacion
.retroalimentacion{
  padding-left: 50px;
}

//terms
ion-checkbox{
  --size: 20px;
  --border-color: #ffffff;
  padding-right: 5%;
}

.terms>p{
  margin-left: 10px;
}


ion-button.enviar{
  width: 150px;
}