//toolbar
ion-toolbar{
    padding-top: 20px;
    padding-bottom: 14px;
  }
  
  ion-button.notificaciones{
    padding-right: 12px;
  }
  
  ion-button::part(native){
    padding: 0;
  }
  
  ion-icon.menu{
    height: 40px;
    width: 40px;
    padding: 0;
  }

  ion-title.toolbar-text{
    font-size: 16px;
  }
  
  //AD
  .ad {
    display: flex;
    justify-content: center; /* Alineación horizontal al centro */
    align-items: center; /* Alineación vertical al centro */
    height: 75px; /* Altura del contenedor, ajusta según tus necesidades */
  }
  
  .ad p {
    margin: 0; /* Elimina el margen por defecto del párrafo */
  }
  
  //modal
  .menu{
      --min-width: 100%;
    }
  
  .notificaciones{
      --min-width: 100%;
  }

  //contenido
  .licencia-container{
//     display: grid;
//     grid-template-columns: repeat(10, 1fr);
// grid-template-rows: 1fr;
// grid-column-gap: 10px;
// grid-row-gap: 0px; 
display: flex;
    
    width: 100%;
    justify-content: center;
    
    margin-top: 10px;
    margin-bottom: 20px;
  }

  .licencia-container > p{
    // grid-area: 1 / 1 / 2 / 6;
    font-size: 17px;
    text-align: end;
  }

  ion-button.subir-archivo{
    --border-radius: 10px;
    --background-color: black;
    width: 120px;
    height: 40px;
    margin-left: 20px;
  }

  //form
  form{
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .formulario{
    margin-top: 40px;
  }

  ion-input{
    --placeholder-color: black;
  }

  ion-item.input-item{
    width: 330px;
    background-color: white;
    border-radius: 50px;
    color: black;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 25px;
    height: 40px;
    align-items: center;
    display: flex;
  }

  .select-vehiculo{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  ion-button.add-vehiculo{
    width: 80px;
    height: 80px;
    --background: transparent;
    --color: white;
    --box-shadow: none;
  }

  ion-icon.plus{
    min-width: 100%;
    min-height: 100%;
  }

  .terms{
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    margin-right: 50px;
    align-items: center;
  }

  .button-container{
    width: 100%;
    text-align: center;
    justify-content: center;
    margin-top: 10px;
  }

  //modal
  ion-modal{
    --height: 50%;
    --border-radius: 16px;
  }

  ion-modal > ion-content{
    --background-color: white;
    --color: black;
  }

  //variables

  .white-text{
    color: white;
  }