<ion-toolbar>
  <ion-buttons slot="start">
    <ion-button class="normal-radius" (click)="mostrarMenu()">
      <ion-icon class="menu" name="menu-outline"></ion-icon>
    </ion-button>
    <ion-title class="bold-text uppercase-text toolbar-text"
      >formulario de aplicación</ion-title
    >
  </ion-buttons>

  <ion-buttons slot="end">
    <ion-button class="notificaciones" (click)="mostrarNotificaciones()">
      <img
        src="../../../assets/iconos-migo/campanita.png"
        style="width: 40px; height: 40px"
    /></ion-button>
  </ion-buttons>
</ion-toolbar>

<ion-content [fullscreen]="true">
  <div class="ad">
    <ion-img
      src="../../../assets/images/banner-7up.jpg"
      alt="Banner Publicitario"
      class="img-ad"
    ></ion-img>
  </div>

  <ion-card>
    <div class="licencia-container">
      <p class="white-text">Licencia de Conducir:</p>
      <input type="file" name='inputfile' onChange='showName()' accept=".pdf" id="getFile" style="display:none"/>
      
      <div class="fileName">
        <ion-button onclick="document.getElementById('getFile').click()" class="capitalize subir-archivo" color="warning">Subir Archivo</ion-button>
        <ion-text >{{nombreArchivo}}</ion-text>
      </div>
      <!-- <div class="file">
        <ion-item>
          <input type="file"/>
        </ion-item>
        <ion-button (click)="subirArchivo()" class="capitalize subir-archivo">Subir Archivo</ion-button>
      </div> -->
    </div>
    <div class="formulario">
      <div class="ion-no-border" [formGroup]="formularioAplicacion">
        <!-- if usuario ya esta registrado, el correo y cedula ya esta predeterminado -->
        <ion-item class="input-item">
          <ion-input
          placeholder="Correo Electrónico"
            maxlength="50"
            formControlName="email"
            type="email"
          ></ion-input>
        </ion-item>
        <ion-item class="input-item">
          <ion-input placeholder="Cédula de Identidad" maxlength="10" formControlName="cedula"></ion-input>
        </ion-item>
        <!-- Aqui seria de hacer un select -->
        <ion-item class="input-item">
          <ion-button id="filtro">
            <ion-text class="capitalize filtrar-por">{{entidadBancaria}}</ion-text>
            <ion-icon
                id="icon-filtrar"
                class="end-of-line"
                name="chevron-down-outline"
              ></ion-icon>
          </ion-button>
          <ion-popover trigger="filtro" alignment="center">
            <ng-template>
              <ion-content class="filter-options">
                <ion-list class="list-options" >
                  <ion-item class="select-option" *ngFor="let banco of entidadesBancarias" (click)="cambiarBanco(banco)">
                    {{banco}}
                  </ion-item>
                </ion-list>
              </ion-content>
            </ng-template>
          </ion-popover>
        </ion-item>

        <ion-item class="input-item">
          <ion-button id="filtroCuenta">
            <ion-text class="capitalize filtrar-por">{{tipoCuenta}}</ion-text>
            <ion-icon
                id="icon-filtrar"
                class="end-of-line"
                name="chevron-down-outline"
              ></ion-icon>
          </ion-button>
          <ion-popover trigger="filtroCuenta" alignment="center">
            <ng-template>
              <ion-content class="filter-options">
                <ion-list class="list-options" >
                  <ion-item class="select-option" *ngFor="let cuenta of tiposCuentas" (click)="cambiarCuenta(cuenta)">
                    {{cuenta}}
                  </ion-item>
                </ion-list>
              </ion-content>
            </ng-template>
          </ion-popover>
        </ion-item>
        <ion-item class="input-item">
          <ion-input placeholder="Número de Cuenta" maxlength="20" formControlName="cuenta"></ion-input>
        </ion-item>
      </div>
      <ion-text class="datosincorrectos" *ngIf="mostrarMensaje" color="danger">
        Datos incorrectos<br />
      </ion-text>
    </div>
    <div class="select-vehiculo">
      <p class="uppercase-text white-text">Seleccionar vehículo:</p>
      <ion-button id="open-modal" (click)="seleccionarVehiculo()" class="add-vehiculo">
        <ion-icon class="plus" name="add-circle-outline"></ion-icon>
      </ion-button>
      <div class="terms">
        <ion-checkbox></ion-checkbox>
        <p>
          Al utilizar nuestra aplicación, usted acepta los:
          <a class="terms-politics" (click)="mostrarTerminos()">Términos y Condiciones</a> y
          <a class="terms-politics" (click)="mostrarPoliticas()">Política en Privacidad</a>
        </p>
      </div>
    </div>
    <div class="button-container">
      <ion-button (click)="enviarFormulario()" class="capitalize-text enviar">Enviar</ion-button>
    </div>
  </ion-card>
  
</ion-content>
