@import url('../theme/variables.scss');

ion-card, ion-footer{
    --ion-background-color: transparent;
    box-shadow: none !important;
}

ion-tab-bar{
    background-color: var(--ion-color-secondary-contrast);
}

.tab-button{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: transparent;
}

.tab-img{
    width: 100%;
    height: 100%;
    max-width: 50px;
    max-height: 50px;
    object-fit: contain;
}