<!-- <ion-app>
</ion-app> -->
<ion-router-outlet>
  
</ion-router-outlet>
<ion-tabs #tabBar >
  <ion-tab-bar id="tabBar" slot="bottom">
    <ion-tab-button class="tab-button" (click)="navigateHome()">
      <ion-img
    src="../assets/iconos-migo/09.png"
    alt="Home"
    class="tab-img"
  ></ion-img>
    </ion-tab-button>
    <ion-tab-button class="tab-button" tab="panel">
      <ion-img
    src="../assets/iconos-migo/10.png"
    alt="Panel"
    class="tab-img"
  ></ion-img>
    </ion-tab-button>
    <ion-tab-button class="tab-button" tab="afiliaciones">
      <ion-img
    src="../assets/iconos-migo/11.png"
    alt="afiliaciones"
    class="tab-img"
  ></ion-img>
    </ion-tab-button>
    <ion-tab-button class="tab-button" tab="recorrido">
      <ion-img
    src="../assets/iconos-migo/12.png"
    alt="recorrido"
    class="tab-img"
  ></ion-img>
    </ion-tab-button>
    <ion-tab-button class="tab-button" tab="perfil">
      <ion-img
    src="../assets/iconos-migo/13.png"
    alt="perfil"
    class="tab-img"
  ></ion-img>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
