<ion-toolbar class="misVehiculos">
  <ion-buttons slot="start">
    <ion-back-button
      default-href="/home"
      text=""
      icon="chevron-back"
    ></ion-back-button>
  </ion-buttons>
  <ion-title id="vehiculoTitle">MIS VEHÍCULOS</ion-title>
</ion-toolbar>

<app-ads></app-ads>

<ion-content *ngIf="this.vehiculos.length === 0" class="ion-padding vehiculos-vacio withoutBackground">
  <div class="vehiculos-actualizando">
    <ion-spinner class="vehiculos-spinner" name="dots" color="primary"></ion-spinner>
  </div>
</ion-content>

<ion-content  *ngIf="this.vehiculos.length > 0" class="ion-padding withoutBackground">
  
  <div class="divisor first-divisor">
    <div class="img-placa">
      <img
        class="primary-car-img"
        [src]="getImageSrc('frontal', vehiculoPrincipal)"
        [alt]="vehiculoPrincipal?.placa"
        loading="eager"
      />
      <ion-text class="placaPrincipal bold-text"
        >{{vehiculoPrincipal?.placa}}</ion-text
      >
    </div>
    <div class="info-primary-car">
      <ion-list>
        <ion-item> {{marcaPrincipal}} </ion-item>
        <ion-item> {{modeloPrincipal}} </ion-item>
        <ion-item> {{vehiculoPrincipal?.color_vehiculo}} </ion-item>
        <ion-item> {{vehiculoPrincipal?.anio}} </ion-item>
      </ion-list>
      <div class="verMasPrincipal">
        <ion-button
          class="bold-text contrast-button ver-detalle"
          (click)="verMas(vehiculoPrincipal)"
        >
          Ver Detalles
        </ion-button>
      </div>
    </div>
  </div>

  <div class="divisor second-divisor">
    <ion-item><ion-title>Vehículos Secundarios</ion-title></ion-item>
    <ion-card
      class="white-background"
      *ngFor="let vehiculoSecundario of vehiculosSecundarios"
      id="vehiculo{{vehiculoSecundario.id_vehiculo}}"
    >
      <ion-card-content>
        <div class="secondary-car-img">
          <img
            src="{{getImageSrc('frontal', vehiculoSecundario)}}"
            alt="{{vehiculoSecundario?.placa}}"
          />
        </div>
        <div class="secondary-car-info">
          <!-- {{obtenerCliente(vehiculoSecundario?.id_cliente)}}<br> -->
          {{vehiculoSecundario?.placa}}<br />
          {{vehiculoSecundario?.anio}}
        </div>
        <div class="secondary-car-buttons">
          <div class="icon-button">
            <ion-icon
              id="open-modal-confirmation"
              class="trash"
              name="trash"
              color="danger"
              (click)="eliminarVehiculo(vehiculoSecundario)"
            ></ion-icon>
          </div>
          <div class="detalle-button">
            <ion-button
              class="bold-text contrast-button ver-detalle-secundario"
              (click)="verMas(vehiculoSecundario)"
            >
              Ver Detalles
            </ion-button>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
    <div class="button-container">
      <ion-button
        class="agregar-vehiculo uppercase-text"
        (click)="agregarVehiculo()"
        >Agregar un vehículo</ion-button
      >
    </div>
  </div>

  <ion-modal
    #deleteConfirmation
    trigger="open-modal-confirmation"
    class="deleteVehiculoConfirmation"
  >
    <ng-template>
      <ion-content class="ion-padding confirmationPage">
        <ion-icon id="warning" name="warning"></ion-icon>

        <div class="texts">
          <ion-text class="bold-text">
            Estás seguro de eliminar este vehículo?
          </ion-text>
          <ion-text> Esta acción no se puede deshacer </ion-text>
        </div>

        <div clas="buttons">
          <ion-button id="boton-cancelar" (click)="deleteConfirmation.dismiss()"
            >cancelar</ion-button
          >
          <ion-button
            id="boton-eliminar"
            (click)="eliminarVehiculoDefinitivamente()"
            >eliminar</ion-button
          >
        </div>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
