<ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button
      default-href="#"
      text=""
      icon="chevron-back"
    ></ion-back-button>
  </ion-buttons>
  <ion-title>MIS VEHÍCULOS</ion-title>
</ion-toolbar>

<ion-content>

  <div class="ad">
    <p>BANNER PUBLICITARIO</p>
  </div>

  <div class="divisor first-divisor">
    <div class="placa">
      <img src="../../../assets/icono de menu/01.png">
      Placa
    </div>
    <ion-list>
      <ion-item>
        Marca
      </ion-item>
      <ion-item>
        Modelo
      </ion-item>
      <ion-item>
        Color
      </ion-item>
      <ion-item>
        Año
      </ion-item>
    </ion-list>
  </div>

  <div class="divisor second-divisor">
    <ion-item><ion-title>Vehiculos Secundarios</ion-title></ion-item>
    <ion-card>
      <ion-card-content>
        <div class="secondary-car-img">
          <img src="../../../assets/icono de menu/01.png">
        </div>
        <div class="secondary-car-info">
          Nombre Conductor
          Numero de Placa
          Numero de Matricula
        </div>
        <div class="secondary-car-buttons">
          <ion-icon name="trash" color="danger"></ion-icon>
          <ion-button>
            Ver detalle
          </ion-button>
        </div>
    </ion-card-content>
  </ion-card>
    <ion-button class="uppercase-text">Agregar un vehículo</ion-button>
  </div>

</ion-content>
