<app-barra-navegacion></app-barra-navegacion>

<ion-content class="bannerContent">
  <div class="marginContent">
  <ion-card class="card">
    <p class="capitalize bold-text">HOY</p>
    <div id="cobro-container" class="">
      <div id="por-cobrar">
        <p class="capitalize">por cobrar:</p>
        <p class="bold-text"> $120.52</p>
      </div>
      <div id="recorrido">
        <p class="capitalize">recorrido:</p>
        <p class="bold-text uppercase-text"> 267 km</p>
      </div>
    </div>
    <div id="hora" class="">
      <ion-icon name="time-outline"></ion-icon>
      <p> 8:23 AM - 4:47 PM </p>
    </div>
  </ion-card>
  <ion-card class="card">
    <p class="bold-text uppercase-text">todos mis recorridos</p>
    <div id="recorridos-container">
      <div>
        <p>Kms totales recorridos:</p>
        <p>Tiempo total recorrido:</p>
        <p>Recaudado hasta hoy:</p>
        <p>Recorridos realizados:</p>
        <p>Campañas completadas:</p>
      </div>
      <div>
        <p>999 KM</p>
        <p>1d 12h 52m</p>
        <p>$312.48</p>
        <p>43 recorridos</p>
        <p>4 campañas</p>
      </div>
    </div>
  </ion-card>
  <ion-card class="card">
    <p class="bold-text uppercase-text">cobro de los ultimos 2 meses</p>
    <p class="bold-text"> $1,299</p>
    <ion-button>Historial de pagos</ion-button>
  </ion-card>
  <ion-card class="card">
    <div class="mapa bold-text uppercase-text">
      <p>zonas recorridas hoy</p>
      <div id="mapaPanel">
        <!-- <google-map #map
    height="100%"
    width="100%"
    [center]="center"
    [zoom]="zoom"
  ></google-map> -->
  
  <div id="map" style="float:left;width:100%;height:100%"></div>

      </div>
    </div>
  </ion-card>

</div>
</ion-content>
