<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Panel de Control</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="card">
    <p>HOY</p>
  </ion-card>
  <ion-card class="card">
    <p class="bold-text uppercase-text">todos mis recorridos</p>
  </ion-card>
  <ion-card class="card">
    <p class="bold-text uppercase-text">cobro de los ultimos 2 meses</p>
  </ion-card>
  <ion-card class="card">
    <div class="mapa bold-text uppercase-text">
      <p>zonas recorridas hoy</p>
      <div id="mapaPanel">
        <!-- <img class="custom-map" src="../../../assets/rutas/2.png"/> -->
        <capacitor-google-map
          #mapaPanel
          class="custom-map"
          id="mapaPanel"
        ></capacitor-google-map>
      </div>
    </div>
  </ion-card>
</ion-content>
