<div class="root">
  <ion-text *ngIf="campanas.length > 0"> Mostrando últimas campañas publicadas </ion-text>
  <ion-progress-bar *ngIf="campanas.length === 0" type="indeterminate"></ion-progress-bar>
<div class="content white-background">
  <ion-card *ngFor="let campana of campanas">
    <ion-card-content class="black-text">
      <ion-label class="uppercase-text bold-text">{{campana.nombre_campana}}<br></ion-label>
      <p>Empresa: {{ empresas_nombres[campana.id_empresa]}} </p>
      <p>Publicado: {{campana.fecha_creacion}}</p>
      <p>Registrate hasta: {{campana.fecha_fin_registro}}</p>
      <div class="sector-tarifa">
        <div class="divisor">
          <ion-icon class="orange-color-contrast" name="location"></ion-icon>
          <ion-text class="sector black-text">Sector, Sectores</ion-text>
        </div>
        <div class="divisor">
          <ion-icon class="orange-color-contrast" name="logo-usd"></ion-icon>
          <ion-text class="tarifa black-text">{{campana.tarifa_base}} por KM</ion-text>
        </div>
      </div>
    </ion-card-content>
    <div class="image-and-button">
      <ion-img src="../../../assets/campanas/{{campana.id_empresa}}.jpg" alt="Marca"></ion-img>
      <ion-button class="rounded-button registrarse white-text " shape="round" expand="full" (click)="registrarse(campana)">Regístrate</ion-button>
    </div>
  </ion-card>
</div>
</div>

