div.content{
  border-radius: 20px;
  margin-left: 20px;
  margin-right: 20px;
}

.root{
  text-align: center;
  display: flex;
  flex-direction: column;
}

ion-text{
  padding-top: 6%;
  padding-bottom: 6%;
}

ion-card {
    display: flex;
    flex-direction: row;
  }

ion-card-content{
  text-align: left;
  padding: 10px;
}
  
  .info {
    flex: 1; /* Ocupa el espacio disponible a la izquierda */
  }
  
  .image-and-button {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra la imagen y el botón verticalmente */
    padding: 8px; /* Espaciado interno */
  }
  
  ion-img {
    width: 100px; /* Ancho de la imagen */
    height: 100px; /* Altura de la imagen */
  }
  
  ion-img::part(image){
    border-radius: 100%;
  }

  .sector-tarifa{
    display: flex;
    flex-direction: row;
  }

  .divisor{
    display: flex;
    align-items: center;
  }

  ion-icon{
    width: 40px;
    height: 40px;
  }

  .registrarse{
    width: 120px;
  }

  ion-card{
    border-radius: 0;
    border-bottom: 1px solid rgb(165, 165, 165);
  }

ion-progress-bar{
  margin-top: 100%;
  width: 350px;
}