<ion-toolbar>
  <ion-buttons slot="start">
    <ion-back-button default-href="#" text=""icon="chevron-back"></ion-back-button>
  </ion-buttons>
  <ion-title>RECUPERAR CONTRASEÑA</ion-title>
</ion-toolbar>

<ion-content class="withoutBackground">
  <ion-card class="ion-no-border login-form">
    <ion-card-content>
      <img  class="migo-logo" alt="migo logo" src="../../assets/images/migo_logo.png" />
      <ion-text class="size-small">
        El código se enviará a la siguiente dirección de correo electrónico.<br>
      </ion-text>
      <div class="icon-container">
        <img class="msg-icon" alt="msg icon" src="../../assets/iconos-migo/04.png" />
      </div>
      <form class="ion-no-border" [formGroup]="formularioCorreo" >
        <ion-item class="input-item">
          <ion-input maxlength="50" formControlName="email" placeholder="Ingrese su correo eléctronico" type="email"></ion-input>
        </ion-item>
      </form>
      <ion-text class="datosincorrectos"*ngIf="emailInvalido" color="danger">
        Email no válido<br>
      </ion-text>
      <ion-text class="datosincorrectos"*ngIf="emailNoExiste" color="danger">
        Email no está registrado<br>
      </ion-text>
      <div class="buttons-container">
        <ion-button class="normal-radius" color="primary" (click)="enviar()">
          ENVIAR
        </ion-button>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>