<ion-content class="withoutBackground">
    <div class="content" style="display: flex;flex-direction: column;justify-content: center;align-items: center;align-content: center;width: 100%;height: 100%;">
      <ion-spinner
      style="height: 100px; width: 100px;"
        id="spinnerDeleteCuenta"
        name="bubbles"
        color="primary"
      ></ion-spinner>
      <ion-text
        class="black-text"
        >Enviando la verificación de brandeo...</ion-text
      >
    </div>
</ion-content>
